
// 存款 orange
$deposit-chart-color: #f47721;

// 放款
$load-chart-color: #0077c8;

// 貿融
$trade-chart-color: #48a9c5;

// 進口,出口

$in-chart-color: #b06010;
$out-chart-color: #7b868a;

//TMU
$tmu-color: #f34235;
$mtm-color: #fdca30;

.all-charts-blcok {

}
