
// 存款 orange
$deposit-chart-color: #003049;

// 放款
$load-chart-color: #09558a;

// 貿融
$trade-chart-color: #0887b1;

// 進口,出口

$in-chart-color: #045960;
$out-chart-color: #08a08a;

//TMU
$tmu-color: #f77f00;
$mtm-color: #fbc93e;

.all-charts-blcok {

  .bg-deposit {
    color: white;
    font-weight: bold;
    background: $deposit-chart-color;
  }

  .bg-load {
    color: white;
    font-weight: bold;
    background: $load-chart-color;
  }
  .bg-trade {
    color: white;
    font-weight: bold;
    background: $trade-chart-color;
  }
  .bg-in {
    color: white;
    font-weight: bold;
    background: $in-chart-color;
  }
  .bg-out {
    color: black;
    font-weight: bold;
    background: $out-chart-color;
  }
  .bg-tmu {
    color: black;
    font-weight: bold;
    background: $tmu-color;
  }
  .bg-mtm {
    color: black;
    font-weight: bold;
    background: $mtm-color;
  }


.title-block {
  margin-left: 20px;
  margin-right:20px;
  min-width: 330px;
}
  .chart-title{
    vertical-align: middle;
    .btn {
      padding: 4px 8px;
      vertical-align: middle;
      color:inherit;
    }
    .title {
      color: white;
      font-size: 1rem;
      font-weight: 700;
      vertical-align: middle;
      height: 30px;
      line-height: 30px;
    }
    .total {
      font-size: 1.2rem;
      font-weight: 700;
      vertical-align: middle;
    }
  }

}
