<div class="card">
  <!-- <div class="card-header card-header-danger">
      <h4 class="card-title">Material Dashboard PRO Angular</h4>
      <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard Angular.</p>
  </div> -->
  <div class="card-body">
      <h4 class="card-title text-primary clearfix">
        營運量
        <div class="d-inline-block date-block text-right float-right">資料日：2019/08/06 (單位：新臺幣仟元)
        </div>
      </h4>
      <div class="all-charts-blcok row">

          <div class="col-md-6">
            存款餘額
            <apx-chart #chartDeposit
            [chart]="DepositData.chart"
            [plotOptions]="DepositData.plotOptions"
            [dataLabels]="DepositData.dataLabels"
            [stroke]="DepositData.stroke"
            [series]="DepositData.series"
            [xaxis]="DepositData.xaxis"
            [colors]="DepositData.colors"
            [legend]="DepositData.legend"

            ></apx-chart>
          </div>

          <div class="col-md-6">
              放款餘額/貿融餘額
            <apx-chart #chartLoad
            [chart]="LoanData.chart"
            [plotOptions]="LoanData.plotOptions"
            [dataLabels]="LoanData.dataLabels"
            [stroke]="LoanData.stroke"
            [series]="LoanData.series"
            [xaxis]="LoanData.xaxis"
            [colors]="LoanData.colors"
            [legend]="LoanData.legend"
            ></apx-chart>

          </div>

          <div class="col-md-6">
              進口實績/出口實績
              <!-- <apx-chart #chartLoad></apx-chart> -->

          </div>

          <div class="col-md-6">
              TMU使用率/MTM

          </div>

      </div>
  </div>
</div>
