.notice-modal {
  position: fixed;
  top:130px;
  right: -1000px;
  height: 100vh;
  width:50vw;
  min-width: 800px;
  z-index: 9999;
  margin:0 -5px 0 0;
  background-color: #FFF;
  border:2px solid #dbdbdb;
  box-shadow: -3px -1px 10px #d6d5d5db;

  .notice-title {
    border-left: 3px solid #009F41;
    padding-left: 0.325rem;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &.close {
    right: -1800px !important;
    transition: all 1s ease-out;
  }
  &.open {
    right: 0 !important;
  }
  .notice-head-modal {
    .close {
      color: #999;
      cursor: pointer;
      &:hover {
        color: #009F41;
      }
    }
  }
}
