<div class="financing-block">
  <!-- 總授信 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        <div class="row">
          <span class="col-6 text-left">
            {{totLoan_text}}
          </span>
          <span class="col-6 text-right text-small">
            {{tot_text}}
          </span>
        </div>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-mat-list">
        <table class="table m-0 p-0 table-hover table-sticky table-bordered">
          <thead>
            <tr>
              <th>
                {{totAmt_text}}
              </th>
              <th>
                {{totBal_text}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ totLoan.totAmt | currency:'':'':'1.0-0' }}</td>
              <td> {{ totLoan.totBal | currency:'':'':'1.0-0' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <!-- 授信明細 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        {{loanDetail_text}}
      </h5>
    </div>
    <div class="card-body">

      <div class="table-mat-list">
        <table class="table m-0 p-0 table-bordered table-sticky">
          <thead>
            <tr>
              <th>{{facilityNbr_text}}</th>
              <th>{{breakdownCodeDesc_text}}</th>
              <th>{{facdCurrencyCode_text}}</th>
              <th>{{facdFxLimitAmt_text}}</th>
              <th>{{sumLbFxCurrentBal_text}}</th>
              <th>{{sumLbNtdCurrentBal_text}}</th>
              <th>{{negotiatPriceCode_text}}</th>
              <th>{{collateralCodeDesc_text}}</th>
              <th>{{limitStatusCodeDesc_text}}</th>
            </tr>
          </thead>
          <ng-container *ngFor=" let item of facilityDetail; let i = index">
            <tbody>
              <tr class="bg-primary text-white" *ngIf="i !== 0">
                <th>{{facilityNbr_text}}</th>
                <th>{{breakdownCodeDesc_text}}</th>
                <th>{{facdCurrencyCode_text}}</th>
                <th>{{facdFxLimitAmt_text}}</th>
                <th>{{sumLbFxCurrentBal_text}}</th>
                <th>{{sumLbNtdCurrentBal_text}}</th>
                <th>{{negotiatPriceCode_text}}</th>
                <th>{{collateralCodeDesc_text}}</th>
                <th>{{limitStatusCodeDesc_text}}</th>
              </tr>
              <tr>
                <td [attr.rowspan]="item.facRecords.length+facilityDetail.length+3" class="main-text">
                  {{item.facilityNbr}}</td>
              </tr>
              <ng-container *ngFor="let itemC of item.facRecords">
                <tr>
                  <td>{{itemC.breakdownCodeDesc}}</td>
                  <td>{{itemC.facdCurrencyCode}}</td>
                  <td>{{itemC.facdFxLimitAmt | currency : '' : '' : '1.0-0'}}</td>
                  <td>{{itemC.sumLbFxCurrentBal | currency : '' : '' : '1.0-0'}}</td>
                  <td>{{itemC.sumLbNtdCurrentBal | currency : '' : '' : '1.0-0'}}</td>
                  <td>{{itemC.negotiatPriceCode}} </td>
                  <td>{{itemC.collateralCodeDesc}} </td>
                  <td>{{itemC.limitStatusCodeDesc}} </td>
                </tr>
              </ng-container>
              <tr class="title-th">
                <td>{{accNbr_text}}</td>
                <td>{{lbCurrencyCode_text}}</td>
                <td>{{lbCurrentIntRate_text}}</td>
                <td>{{lbFxCurrentBal_text}}</td>
                <td>{{lbNtdCurrentBal_text}}</td>
                <td>{{firstFundingDate_text}}</td>
                <td>{{acctDueDate_text}}</td>
                <td>{{acctStatusCodeDesc_text}}</td>
              </tr>
              <ng-container *ngFor=" let items of item.facRecords[0].breakRecords">
                <tr>
                  <td>{{items.accNbr}}</td>
                  <td>{{items.lbCurrencyCode}}</td>
                  <td>{{items.lbCurrentIntRate | percent:'1.0-3'}}</td>
                  <td>{{items.lbFxCurrentBal | currency : '' : '' : '1.0-0'}}</td>
                  <td>{{items.lbNtdCurrentBal | currency : '' : '' : '1.0-0'}}</td>
                  <td>{{items.firstFundingDate}} </td>
                  <td>{{items.acctDueDate}} </td>
                  <td>{{items.acctStatusCodeDesc}} </td>
                </tr>
              </ng-container>
            </tbody>
          </ng-container>
        </table>

      </div>
    </div>


  </div>



</div>
