.account-info{
  width:auto;
  min-width: 160px;
  max-width: 250px;
  .icon {
    display: inline-block;
    margin: auto auto auto 0;
    i.material-icons {
      font-size: 2rem;
    }
  }
  .word {
    font-size: 1rem;
  }
}
