<div class="m-0 p-0 clearfix dialog-title pb-3" mat-dialog-title>
  <span class="d-inline-block float-left title-name pl-2" *ngIf="contentData.id > 2">
    {{contentData.title}} : {{contentData.content_data.company_name}}
  </span>

  <!-- 先 hide ，必須確認那些第二層要顯示資料日   -->
  <!-- <span class="d-inline-block date-block float-right mr-5">
      資料日: {{contentData.content_data.date}}
  </span> -->
  <button class="d-inline-block close-icon btn btn-round btn-white btn-just-icon shadow-none" mat-dialog-close>
      <i class="material-icons">close</i>
  </button>
</div>
<div mat-dialog-content>
  <app-index-notice [content]="contentData" *ngIf="contentData.id < 3"></app-index-notice>
  <app-company-info [content]="contentData" *ngIf="contentData.id == 3"></app-company-info>
  <app-group-info [content]="contentData" *ngIf="contentData.id == 4"></app-group-info>
</div>
