.filter-block{
  text-align: right;
  margin: 0 auto;
  width: 460px;
  .btn {
    padding:8px 10px;
    font-size: 1rem;
  }
}


//放在 nav
.navbar-wrapper{
  .filter-block{
    z-index: 9999;
    text-align: right;
    margin: 0 auto;
    width: 400px;
  }
}


.card{
  .filter-block {
    .input-group {
      input {
        color: white;
      }
    }
  }

}

.navbar {
  .filter-block {
    .input-group {
      input {
        color: black;
      }
    }
  }
}
