<div class="filter-block row">
  <!-- 關鍵字搜尋 -->
  <div class="col-6">
    <div class="input-group input-group-sm">
      <input type="text" placeholder="關鍵字" class="form-control"
      placeholder="" aria-label="" aria-describedby="basic-addon1"
      matAutocomplete="myKeyword">
        <button type="button" class="btn btn-round btn-primary btn-circle  shadow-none">
            <i class="material-icons">
              search
            </i>
        </button>
    </div>

  </div>
  <!-- 經管行搜尋 -->
  <div class="col-3">
      <div class="dropdown">
          <button href="#" class="btn btn-round btn-primary dropdown-toggle shadow-none" data-toggle="dropdown" aria-expanded="true" >
              經管行
              <b class="caret"></b>
          </button>
          <ul class="dropdown-menu">
              <li><a href="#">AAA</a></li>
              <li><a href="#">BBB</a></li>
              <li><a href="#">CCC</a></li>
              <!-- <li class="divider"></li>
              <li><a href="#">Team A</a></li> -->
          </ul>
      </div>
  </div>


  <!-- 授信轉介行 -->
  <div class="col-3">
      <div class="dropdown">
          <button href="#" class="btn btn-round btn-primary  shadow-none dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
             授信轉介行
              <b class="caret"></b>
          </button>
          <ul class="dropdown-menu">
              <li><a href="#">AAA</a></li>
              <li><a href="#">BBB</a></li>
              <li><a href="#">CCC</a></li>
              <!-- <li class="divider"></li>
              <li><a href="#">Team A</a></li> -->
          </ul>
      </div>
  </div>

</div>
