.filter-block{
  text-align: right;
  margin: 0 auto;
  width: 600px;
}


//放在 nav
.navbar-wrapper{
  .filter-block{
    z-index: 9999;
    text-align: right;
    margin: 0 auto;
    width: 400px;
  }
}


.card{
  .filter-block {
    .input-group {
      input {
        color: white;
      }
    }
  }

}

.navbar {
  .filter-block {
    .input-group {
      input {
        color: black;
      }
    }
  }
}
