<div class="row no-gutters news-info-block" *ngIf="newsList">

  <!-- 新聞項目列表 -->
  <div class="col-6 col-lg-3 col-md-4 col-xs-6 d-flex align-items-start">

    <perfect-scrollbar class="w-100 news-info-list ps-show-always">
      <div class="btn btn-lg btn-block btn-outline-primary has-arrow mb-3" [ngClass]="{'active': nowNewsId === new.id}"
        (click)="selectNews(new.id)" *ngFor="let new of newsList">
        <div class="row news-info-li">
          <div class="col-lg-6 col-md-6 col-xs-6 text-left paper-info">
            {{new?.paper}}
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 text-right paper-info">
            {{new?.date}}
          </div>
          <div class="col-lg-12 col-md-12 col-xs-12 mt-2">
            <a class="d-inline-block news-title underline text-ellipsis" [matTooltip]="new.title"
              matTooltipPosition="above">
              {{new?.title}} </a>
          </div>
        </div>
      </div>

    </perfect-scrollbar>

  </div>

  <!-- 新聞內容 -->
  <div class="col-6 col-lg-9 col-md-8 col-xs-6">
    <div class="news-content pl-3">
      <!-- 輿情分析： -->
      <div class="news-content-ana row">
        <span class="news-resource d-inline-block col-8">
          <span class="d-inline-block mr-1">
            {{nowNews?.paper}}
          </span>
          <span class="d-inline-block mr-1">
            {{nowNews?.date}}
          </span>
        </span>
        <span class="d-inline-block col-4 d-flex justify-content-end">
          <span class="text-md text-black ana-word">
            {{public_Opinion_Analysis}}：
          </span>
          <span class="text-lg text-primary font-weight-bolder grade">
            {{nowNews?.tag}}
          </span>

        </span>

      </div>

      <div class="news-content-title text-lg text-primary font-weight-bolder my-3">
        <i class="far fa-newspaper mr-3"></i>
        <span class="title">
          {{nowNews?.title}}
        </span>

      </div>

      <!-- 資料要加上段落 <p>XXX</p> -->
      <div class="news-content-word pt-2" [innerHTML]="nowNews?.content"></div>

    </div>

  </div>

</div>


