
<div class="row tmu-block">

  <!-- 圖表 -->
  <div class="col-12 col-lg-5 col-md-5 col-xs-12 ">
    <div class="tmu-border-block">
        <!--TMU chart -->
        <div class="card card-table card-chart-table w-100">
            <div class="card-header">
                <h5 class="card-title">
                  <div class="row no-gutters mx-0 p-0">
                    <span class="col-6 text-left">
                        {{tmuContribution_text}}
                    </span>
                    <span class="col-6 text-right text-small">
                        {{unitNTD_text}}
                    </span>
                  </div>
                </h5>
            </div>
            <div class="card-body">
                <div class="table-mat-list">
                    <table class="table m-0 p-0 table-sticky">
                      <thead>
                        <tr>
                          <th>{{validTime_text}}{{validDate_text}}</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr >
                          <td>
                              <div class="tmu-chart-block">

                                <div class="tmu-chart-block">
                                    <apx-chart #chartTmu
                                    [chart]="TmuData.chart"
                                    [dataLabels]="TmuData.dataLabels"
                                    [plotOptions]="TmuData.plotOptions"
                                    [stroke]="TmuData.stroke"
                                    [series]="TmuData.series"
                                    [labels]="TmuData.labels"
                                    [colors]="TmuData.colors"
                                    [legend]="TmuData.legend"
                                    [responsive]="TmuData.responsive"
                                      ></apx-chart>
                                </div>

                              </div>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>


  <!-- table -->
  <div class="col-12 col-lg-7 col-md-6 col-xs-12 ">
    <div class="tmu-border-block">
        <!-- 金融交易額度-->
        <div class="card card-table">
            <div class="card-header">
                <h5 class="card-title clearfix">
                    <div class="row">
                        <span class="col-6 text-left">
                            {{derivative_text}}
                        </span>
                        <span class="col-6 text-right text-small">
                            {{unitUSD_text}}
                        </span>
                    </div>

                  </h5>
            </div>
            <div class="card-body">

              <div class="table-mat-list">
                <table class="table m-0 p-0 table-hover table-sticky table-bordered">
                  <thead>
                    <tr>
                      <!-- 20191225 拿掉此欄 -->
                      <!-- <th>額度/帳號ID</th> -->
                      <th class="th-width">{{amountType_text}}</th>
                      <th>{{amountExpDate_text}}</th>
                      <th class="">{{amountAmt_text}}</th>
                      <th class="">{{usageAmt_text}}</th>
                      <th class="">{{lastAvailAmt_text}}</th>
                      <th class="">{{amountUseRate_text}}</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of tmuTransAmt">
                    <tr>
                        <!-- 20191225 拿掉此欄 -->
                        <!-- <td rowspan="5">1000000002</td> -->
                        <td>{{item.amountType}}</td>
                        <td>{{item.amountExpDate }}</td>
                        <td class="">{{ item.amountAmt | currency:'':'':'1.0-0' }}</td>
                        <td class="">{{ item.usageAmt | currency:'':'':'1.0-0' }}</td>
                        <td class="">{{ item.lastAvailAmt | currency:'':'':'1.0-0' }}</td>
                        <td class="">{{ item.amountUseRate | percent:'1.0-3'}}</td>
                    </tr>
                    
                  </tbody>

                </table>

              </div>

            </div>


        </div>


        <!-- 投資型商品-->
        <div class="card card-table ins-table">
            <div class="card-header">
                <h5 class="card-title clearfix">
                    <div class="row">
                        <span class="col-6 text-left">
                            {{wms_text}}
                        </span>
                        <span class="col-6 text-right text-small">
                            {{unitNNTD_text}}
                        </span>
                    </div>
                  </h5>
            </div>
            <div class="card-body">

              <div class="table-mat-list  down-table">
                <table class="table m-0 p-0 table-hover table-sticky person-table table-bordered">
                  <thead>
                    <tr>
                      <th>{{invesTypeCode_text}}</th>
                      <th class="">{{productDesc_text}}</th>
                      <th class="">{{prodCurrencyDesc_text}}</th>
                      <th class="">{{referenceNetvalue_text}}</th>
                      <th class="">{{fxCurrentValue_text}}</th>
                      <th class="">{{startDate_text}}</th>
                      <th class="">{{endDate_text}}</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of tmuInvesment">
                    <tr>
                        <td>{{item.invesTypeCode}}</td>
                        <td class="">{{item.productDesc}}</td>
                        <td class="">{{item.prodCurrencyDesc}}</td>
                        <td class="">{{item.referenceNetvalue | currency:'':'':'1.0-0'}}</td>
                        <td class="">{{item.fxCurrentValue | currency:'':'':'1.0-0'}}</td>
                        <td class="">{{item.startDate}}</td>
                        <td class="">{{item.endDate}}</td>
                    </tr>                                                                           
                  </tbody>

                </table>

              </div>

            </div>


        </div>
    </div>
  </div>
</div>
