      
<div class="filter-block mr-4">
    <!-- 關鍵字搜尋 -->
    <div class="d-inline-block mr-1">
        <app-auto-search [keywordList]="keywordList" (getCompleteKeyword)="chooseData($event)"></app-auto-search>
    </div>

    <!-- 經管行搜尋 -->
    <div class="d-inline-block mr-1">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle shadow-none" data-toggle="dropdown" aria-expanded="true" >
                {{nowBranch}}
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu ">
                <li  *ngFor="let item of wmBranch">
                   <a  (click)="chooseBranch(item.branchId)" > {{item.branchName}}</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- 授信轉介行 -->
    <div class="d-inline-block mr-1">
        <div class="dropdown">
            <button id="SUBITEM" class="btn btn-primary  shadow-none dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
               {{nowForword}}
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu" aria-labelledby="SUBITEM">
                <li  *ngFor="let item of referBranch">
                    <a  (click)="chooseForword(item.branchId)" > {{item.branchName}}</a>
                 </li>
            </ul>
        </div>
    </div>

  </div>
