
<div>


    <!-- tabs -->
    <div>

        <ul  class="nav nav-tabs notice-tab">
            <li class="nav-item" *ngFor="let type of content.content_data.type_list">
                <a class="nav-link" [ngClass]="{'active': type.id == tabIndex}" (click)="changeTab(type.id)">
                  <span>{{type.name}}</span>
                  <span class="badge badge-primary ml-1">{{type.total}}</span>
                </a>
            </li>

        </ul>

    </div>

    <!-- content   -->

    <div>
        <ul class="list-group notice-content">

              <ng-container *ngFor="let item of content.content_data.data_list">
                <li class="list-group-item" *ngIf="(tabIndex == 'all')||(item.type == tabIndex)">
                  <div class="row no-gutters" >
                      <div class="col mr-2">
                        {{item.type_name}}
                      </div>
                      <div class="col mr-1">
                          {{item.time}}
                      </div>
                      <div class="col-8">
                          <div>
                              {{item.company}}
                          </div>
                          <div>
                              <a href="#" class="underline">
                                  {{item.new_title}}
                              </a>
                          </div>

                      </div>

                  </div>
                </li>
              </ng-container>



            <!-- <li class="list-group-item">
                <div class="row no-gutters">
                    <div class="col">
                      到期提醒
                    </div>
                    <div class="col">
                      2019/04/18
                    </div>
                    <div class="col-8">
                        <div>
                            群創光電股份有限公司
                        </div>
                        <div>
                            <a href="#" class="underline">
                                2019/05/18 Call Loan 新台幣 $1,000,000 到期
                            </a>
                        </div>

                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row no-gutters">
                    <div class="col">
                        到期提醒
                    </div>
                    <div class="col">
                        2019/03/18
                    </div>
                    <div class="col-8">
                        <div>
                            宏瀚投資股份有限公司
                        </div>
                        <div>
                            <a href="#" class="underline">
                                2019/04/18
                                定存美金 $30,000,000 到期
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row no-gutters">
                    <div class="col">
                        企業訊息與公告
                    </div>
                    <div class="col">
                        2019/02/15
                    </div>
                    <div class="col-8">
                        <div>
                            聯巨投資股份有限公司
                        </div>
                        <div>
                            <a href="#" class="underline">
                                2019/07/29 舉辦法說會
                            </a>
                        </div>
                    </div>
                </div>
            </li> -->


        </ul>


    </div>


</div>
