$sidebarBg: #fafafa ;
$link-color: #FFF;
$link-hover: #FFF;
$active-link-bg: #1e5d37 ;
$link-hover-bg: #6FBA2C;
$icon-color: #FFF;
$link-active: #FFF;


$cathyGreen: #009043;
$cathlightGreen:#6FBA2C;

.bg-gradient-cathygreen {
    background-color: $cathlightGreen;
    background: $cathyGreen;
    background: linear-gradient(0deg, $cathlightGreen 0%, $cathyGreen 33.52%, $cathyGreen 100%);

    background-size: cover;
}


.sidebar{
  // overflow-x: hidden;
  // background: $sidebarBg;
  background-color:  $cathlightGreen;
  // background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%)!important;
  li {
    &.active {
      > a {
        color: $link-color;

      }
      .nav-item {
        .nav-link {
          color:$link-active;
          i.material-icons {
            color: $link-active;
          }
        }
      }
    }
  }
  .nav {
    .nav-item {
      &.active {
        .nav-link {
          background: $active-link-bg;
          color:$link-active!important;
          i.material-icons {
            color: $link-active !important;
          }
          &::after {
            border-color: transparent #fcfbfb transparent transparent;
          }
        }
      }
      .nav-link {
        color:$link-color;
        i.material-icons {
          color: $icon-color;
        }
        &.active {
          border-left:3px solid #5ac20a9e;
          background: #FFF;
          i.material-icons {
            color: $link-active;
          }

        }
        &:hover {
          color: $link-hover;
          background-color: $link-hover-bg;
        }
      }

    }

  }
  .sidebar-wrapper{
    overflow-x: hidden;
  }
  &.narrow-width {
    width: 60px !important;
  }
}
