$navBg : #fafafa;


.navbar{
  .container-fluid {
    display:inline-block;
    overflow: hidden;
    min-width: 650px;
    background-color: $navBg;

  }
  .navbar-nav {
    .nav-item {
      display: inline-block;
      .nav-link{
        display: inline-block;
        margin: auto auto auto 0;
        i.material-icons {
          display:inline-block;
          font-size: 2rem;
        }

      }


    }
  }

}
