<div class="banks-info-block" *ngIf="banksInfo">


  <!-- 集團資訊 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        <div class="row no-gutters">
          <span class="col-6 text-left">
            {{bankinfo_Title}}
          </span>
          <span class="col-6 text-right text-small">
            {{ PreDate | dateFormat }} VS. {{ LastDate | dateFormat }}
          </span>
        </div>
      </h5>
    </div>
    <div class="card-body">

      <perfect-scrollbar class="table-mat-list ps-show-always">
        <table class="table m-0 p-0 table-hover table-border table-sticky table-banks table-bordered">
          <thead>
            <tr class="bg-th1">
              <th>{{bankinfo_Title}}</th>
              <th colspan="3">{{current_Period}} ({{ PreDate | dateFormat }})</th>
              <th colspan="3">{{last_Period}} ({{ LastDate | dateFormat }})</th>
              <th colspan="2">{{valChanged}}</th>
            </tr>
            <tr class="bg-th2">
              <th>{{bank}}</th>
              <th>{{quota}}</th>
              <th>{{balance}}</th>
              <th>{{collateral}}</th>
              <th>{{quota}}</th>
              <th>{{balance}}</th>
              <th>{{collateral}}</th>
              <th>{{quota}}</th>
              <th>{{balance}}</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let bank of banksInfo">
              <td>{{ bank?.bankName}}</td>
              <td>{{ bank?.PreDateInfo.amount | currency:'':'':'1.0-0' }}</td>
              <td>{{ bank?.PreDateInfo.total |  currency:'':'':'1.0-0' }}</td>
              <td>{{ bank?.PreDateInfo.guarantee}}</td>
              <td>{{ bank?.LastDateInfo.amount | currency:'':'':'1.0-0' }}</td>
              <td>{{ bank?.LastDateInfo.total | currency:'':'':'1.0-0' }}</td>
              <td>{{ bank?.LastDateInfo.guarantee}}</td>

              <td class="text-primary big-word"> {{ bank?.changeInfo.amount}} </td>
              <td class="text-primary big-word"> {{ bank?.changeInfo.total}} </td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>


  </div>
</div>
