<div class="company-info">
    <div class="row">
        <div class="col-6 col-md-6 col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover company-table">
                    <tbody>
                        <!-- 股票代號 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">股票代號</th>
                            <td class="text-left mr-2">
                                <span> {{content.data.stockCode}} </span>
                            </td>
                        </tr>
                        <!-- 資本額 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">資本額</th>
                            <td class="text-left mr-2">
                                <span class="text-primary font-weight-bolder text-lg">
                                    {{content.data.capitalAmt}}
                                </span>
                            </td>
                        </tr>
                        <!-- 實收資本額 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">實收資本額</th>
                            <td class="text-left mr-2">
                                <span class="text-primary font-weight-bolder text-lg">
                                    {{content.data.realCapitalAmt}}
                                </span>
                            </td>
                        </tr>
                        <!-- 核准設立日期 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">核准設立日期</th>
                            <td class="text-left mr-2">
                                <span>
                                    {{content.data.establishmentDate}}
                                </span>
                            </td>
                        </tr>
                        <!-- 董事長 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">董事長</th>
                            <td class="text-left mr-2">
                                <span>
                                    {{content.data.chiefName}}
                                </span>
                            </td>
                        </tr>
                        <!-- 註冊地址 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">註冊地址</th>
                            <td class="text-left mr-2">
                                <span>
                                    {{content.data.registerAddress}}
                                </span>
                            </td>
                        </tr>
                        <!-- 主要營業地址 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">主要營業地址</th>
                            <td class="text-left mr-2">
                                <span>
                                    {{content.data.residenceAddress}}
                                </span>
                            </td>
                        </tr>
                        <!-- 公司地址 -->
                        <tr class="text-primary active right">
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">公司地址</th>
                            <td class="text-left mr-2">
                                <span>
                                    {{content.data.address}}
                                </span>
                            </td>
                        </tr>
                        <!-- 負責人 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">負責人</th>
                            <td class="text-left mr-2">
                                <span>
                                    <div>
                                        {{content.data.personInCharge.name}}
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            {{content.data.personInCharge.age}} 歲
                                        </span>
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            {{content.data.personInCharge.birth}} 月壽星
                                        </span>
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            AUM {{content.data.personInCharge.aum}}
                                        </span>
                                    </div>

                                    <!-- tags -->
                                    <div class="my-3">
                                        <ng-container *ngFor="let tag of content.data.personInCharge.tags">
                                            <span class="person-tag mr-2" matTooltip="酒" matTooltipPosition="above"
                                                *ngIf="tag == '酒'">
                                                <img src="assets/img/tags/icons8-wine-glass-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="露營 / 登山用品"
                                                matTooltipPosition="above" *ngIf="tag == '露營 / 登山用品'">
                                                <img src="assets/img/tags/icons8-camping-tent-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="雪茄" matTooltipPosition="above"
                                                *ngIf="tag == '雪茄'">
                                                <img src="assets/img/tags/cigar.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="高爾夫" matTooltipPosition="above"
                                                *ngIf="tag == '高爾夫'">
                                                <img src="assets/img/tags/icons8-golf-ball-80.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="遊艇" matTooltipPosition="above"
                                                *ngIf="tag == '遊艇'">
                                                <img src="assets/img/tags/icons8-water-transportation-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="免稅店 / 機場商店"
                                                matTooltipPosition="above" *ngIf="tag == '免稅店 / 機場商店'">
                                                <img src="assets/img/tags/icons8-duty-free-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="高端旅行社" matTooltipPosition="above"
                                                *ngIf="tag == '高端旅行社'">
                                                <img src="assets/img/tags/icons8-around-the-globe-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="藝術品" matTooltipPosition="above"
                                                *ngIf="tag == '藝術品'">
                                                <img src="assets/img/tags/icons8-picasso-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="古董" matTooltipPosition="above"
                                                *ngIf="tag == '古董'">
                                                <img src="assets/img/tags/gramophone.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="陶瓷" matTooltipPosition="above"
                                                *ngIf="tag == '陶瓷'">
                                                <img src="assets/img/tags/icons8-pottery-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="社會菁英社團" matTooltipPosition="above"
                                                *ngIf="tag == '社會菁英社團'">
                                                <img src="assets/img/tags/icons8-medal-48.png">
                                            </span>
                                        </ng-container>
                                    </div>

                                    <!-- contries -->
                                    <div class="flag-block">
                                        <ng-container *ngFor="let contries of content.data.personInCharge.contries">
                                            <span class="country-tag">
                                                {{contries}}
                                            </span>
                                        </ng-container>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <!-- 負責人配偶 -->
                        <tr>
                            <th class="table-th text-left mr-2 font-weight-bolder text-lg">負責人配偶</th>
                            <td class="text-left mr-2">
                                <span>
                                    <div>
                                        {{content.data.mate.name}}
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            {{content.data.mate.age}} 歲
                                        </span>
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            {{content.data.mate.birth}} 月壽星
                                        </span>
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            AUM {{content.data.mate.aum}}
                                        </span>
                                    </div>

                                    <!-- tags -->
                                    <div class="my-3">
                                        <ng-container *ngFor="let tag of content.data.mate.tags">
                                            <span class="person-tag mr-2" matTooltip="酒" matTooltipPosition="above"
                                                *ngIf="tag == '酒'">
                                                <img src="assets/img/tags/icons8-wine-glass-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="露營 / 登山用品"
                                                matTooltipPosition="above" *ngIf="tag == '露營 / 登山用品'">
                                                <img src="assets/img/tags/icons8-camping-tent-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="雪茄" matTooltipPosition="above"
                                                *ngIf="tag == '雪茄'">
                                                <img src="assets/img/tags/cigar.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="高爾夫" matTooltipPosition="above"
                                                *ngIf="tag == '高爾夫'">
                                                <img src="assets/img/tags/icons8-golf-ball-80.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="遊艇" matTooltipPosition="above"
                                                *ngIf="tag == '遊艇'">
                                                <img src="assets/img/tags/icons8-water-transportation-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="免稅店 / 機場商店"
                                                matTooltipPosition="above" *ngIf="tag == '免稅店 / 機場商店'">
                                                <img src="assets/img/tags/icons8-duty-free-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="高端旅行社" matTooltipPosition="above"
                                                *ngIf="tag == '高端旅行社'">
                                                <img src="assets/img/tags/icons8-around-the-globe-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="藝術品" matTooltipPosition="above"
                                                *ngIf="tag == '藝術品'">
                                                <img src="assets/img/tags/icons8-picasso-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="古董" matTooltipPosition="above"
                                                *ngIf="tag == '古董'">
                                                <img src="assets/img/tags/gramophone.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="陶瓷" matTooltipPosition="above"
                                                *ngIf="tag == '陶瓷'">
                                                <img src="assets/img/tags/icons8-pottery-48.png">
                                            </span>
                                            <span class="person-tag mr-2" matTooltip="社會菁英社團" matTooltipPosition="above"
                                                *ngIf="tag == '社會菁英社團'">
                                                <img src="assets/img/tags/icons8-medal-48.png">
                                            </span>
                                        </ng-container>
                                    </div>

                                    <!-- contries -->
                                    <div class="flag-block">
                                        <ng-container *ngFor="let contries of content.data.mate.contries">
                                            <span class="country-tag">
                                                {{contries}}
                                            </span>
                                        </ng-container>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        <!-- 聯絡窗口 -->
                        <ng-container *ngFor="let contactPersons of content.data.contactPersons; let i = index">
                            <tr>
                                <th class="table-th text-left mr-2 font-weight-bolder text-lg">聯絡窗口 {{i+1}}</th>
                                <td class="text-left mr-2">
                                    <span>
                                        {{contactPersons.title}} {{contactPersons.name}}
                                        <span class="tag-infomation d-inline-block px-2 mr-1">
                                            {{contactPersons.tel}}
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-6 col-md-6 col-sm-12">
            <app-map></app-map>
        </div>
    </div>
</div>