<div class="deposit-block">


  <!-- 總存款 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        {{Assets_text}}
      </h5>
    </div>
    <div class="card-body">

      <div class="table-mat-list">
        <table class="table m-0 p-0 table-hover table-sticky table-bordered">
          <thead>
            <tr>
              <th class="text-left" width="20%">幣別</th>
              <th class="text-right" width="20%">活存餘額</th>
              <th class="text-right" width="20%">定存餘額</th>
              <th class="text-right" width="20%">支存餘額</th>
              <th class="text-right" width="20%">合計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>新台幣</td>
              <td class="text-right">{{ ntdAssets.sd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ ntdAssets.td | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ ntdAssets.cd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ ntdAssets.all | currency:'':'':'1.0-0' }}</td>
            </tr>

            <tr>
              <td>外幣(折台)</td>
              <td class="text-right">{{ fxAssets.sd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ fxAssets.td | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ fxAssets.cd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ fxAssets.all | currency:'':'':'1.0-0' }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="bg-light font-weigh-bolder">
              <td>合計(新台幣)</td>
              <td class="text-right">{{ sumAssets.sd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ sumAssets.td | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ sumAssets.cd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ sumAssets.all | currency:'':'':'1.0-0' }}</td>
            </tr>
            <tr class="bg-light">
              <td>近6個月平均積數</td>
              <td class="text-right">{{ r6mthAvgBal.sd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ r6mthAvgBal.td | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ r6mthAvgBal.cd | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ r6mthAvgBal.all | currency:'':'':'1.0-0' }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>


  </div>


  <!-- 活存明細 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        活存明細
      </h5>
    </div>
    <div class="card-body">

      <div class="table-mat-list">
        <table class="table m-0 p-0 table-hover table-sticky table-bordered">
          <thead>
            <tr>
              <th>帳號</th>
              <th>幣別</th>
              <th class="text-right">原幣餘額</th>
              <th class="text-right">台幣餘額</th>
              <th class="text-right">利率</th>
              <th class="text-right">當時FTP</th>
              <!-- <th class="text-center">起日</th>
                      <th class="text-center">迄日</th>
                      <th class="text-center">公文編號</th> -->
              <th class="text-center">備註</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of sdDetail">
            <tr>
              <td>{{item.acctNbr}}</td>
              <td>{{item.currencyCode}}</td>
              <td class="text-right">{{item.fxCurrentBal}}</td>
              <td class="text-right">{{item.ntdCurrentBal}}</td>
              <td class="text-right">{{item.currentIntRate | percent:'1.0-3'}}</td>
              <td class="text-right">{{item.ftpRate | percent:'1.0-3'}}</td>
              <!-- <td class="text-center">2019/04/01</td>
                     <td class="text-center">2019/06/30</td>
                     <td class="text-center">xxx</td> -->
              <td class="text-center">
                {{item.sdRemark.accBranchCode}} | {{item.sdRemark.payrollCodeDtl}} | {{item.sdRemark.isReverse}}
              </td>
            </tr>

            <!-- <tr>
                      <td>0082-940-025866</td>
                      <td>台幣 </td>
                      <td class="text-right">0</td>
                      <td class="text-right">xx</td>
                      <td class="text-right">xx</td>
                      <td class="text-right">xx</td>
                      <td class="text-center">2019/04/01</td>
                      <td class="text-center">2019/06/30</td>
                      <td class="text-center"> xxx</td>
                      <td class="text-center">淡水分行｜信託行</td>
                    </tr> -->
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <!-- 定存明細 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        定存明細
      </h5>
    </div>
    <div class="card-body">

      <div class="table-mat-list">
        <table class="table m-0 p-0 table-hover table-sticky table-bordered">
          <thead>
            <tr>
              <th width="20%">帳號</th>
              <th width="10%">幣別</th>
              <th class="text-right">原幣餘額</th>
              <th class="text-right">台幣餘額</th>
              <th class="text-right">利率</th>
              <th class="text-right">當時FTP</th>
              <!-- <th class="text-center">起日</th>
                      <th class="text-center">迄日</th>
                      <th class="text-center">公文編號</th> -->
              <th class="text-center">帳號開戶日</th>
              <th class="text-center">定存到期日</th>
              <!-- <th class="text-center">公文編號</th> -->
            </tr>
          </thead>
          <tbody *ngFor="let item of tdDetail">
            <tr>
              <td>{{ item.acctNbr }}</td>
              <td>{{ item.currencyCode }} </td>
              <td class="text-right">{{ item.fxCurrentBal | currency:'':'':'1.0-0'}}</td>
              <td class="text-right">{{ item.ntdCurrentBal | currency:'':'':'1.0-0' }}</td>
              <td class="text-right">{{ item.currentIntRate | percent:'1.0-3' }}</td>
              <td class="text-right">{{ item.ftpRate | percent:'1.0-3'}}</td>
              <td class="text-center">{{ item.acctOpenDate }}</td>
              <td class="text-center">{{ item.tdDueDate }}</td>
              <!-- <td class="text-center">xxx</td> -->
              <!-- <td class="text-center">xxx</td> -->
            </tr>

            <!-- <tr>
                    <td>0082-940-025866</td>
                    <td>日幣 </td>
                    <td class="text-right">0</td>
                    <td class="text-right">xx</td>
                    <td class="text-right">xx</td>
                    <td class="text-right">xx</td>
                    <td class="text-center">2019/04/01</td>
                    <td class="text-center">2019/06/30</td>
                      <td class="text-center"> xxx</td> -->
            <!-- <td class="text-center"> xxx</td>
                  </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- 支存明細 -->
  <div class="card card-table">
    <div class="card-header">
      <h5 class="card-title ">
        支存明細
      </h5>
    </div>
    <div class="card-body">
      <div class="table-mat-list">
        <table class="table m-0 p-0 table-hover table-sticky table-bordered table-narrow">
          <thead>
            <tr>
              <th width="30%" class="text-left">帳號</th>
              <th width="33%" class="text-right min-number mr-4">存款餘額</th>
              <th class="text-center">備註</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of cdDetail">
            <tr>
              <td>{{ item.acctNbr }}</td>
              <td class="text-right">{{ item.ntdCurrentBal | currency:'':'':'1.0-0' }}</td>
              <td class="text-center">
                退票{{ item.cdRemark.dishY3ChkCnt }}張｜註銷{{ item.cdRemark.dishCancelY3ChkCnt }}張｜拒往戶{{item.cdRemark.rejectedStatusInd }}
                | {{ item.cdRemark.isReverse }}</td>
            </tr>
            <!-- <tr>
                      <td>0082-441-025867</td>
                      <td class="text-right">{{ 560 | currency:'':'':'1.0-0' }}</td>
                      <td> </td>
                    </tr> -->
          </tbody>
        </table>
      </div>
    </div>


  </div>



</div>
