
$arrowColor: green;
$blackListBg: #c00000;
.company-info {
  .company-table {
    .tag-infomation {
      color: black;
      border:1px double #DDD;
      border-color: #EEE #DDD #DDD  #86bc21;
      border-left-width: 3px;
    }
    .badge {
      &.badge-vip {
        background: orange;
        color:#FFF;
      }
      &.badge-black {
        background: $blackListBg;
        color:#FFF;
      }
    }
    tr.active {

        &::after {
          display: inline-block;
          content: '';
          border: solid green;
          border-width: 0 6px 6px 0;
          display: inline-block;
          padding: 6px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          margin-top: 15px;
          right: 20px;
        }




    }
  }

}

// tag design

$tag-bg : #FFF;
$tag-hover-bg : #FFF;
$tag-border-color: #EEE;
$tag-border-radius: 5px;
$tag-width : 32px;
$tag-height : 32px;

.person-tag {
  display: inline-block;
  width: $tag-width;
  height: $tag-height;
  border-radius: $tag-border-radius;
  border: 1px solid transparent;
  img {
    width: $tag-width;
    height: $tag-height;
  }
  &:hover {
    background-color: $tag-hover-bg;
    border: 1px solid $tag-border-color;
  }
}
