
$arrowColor: green;

.company-info {
  .company-table {
    tr.active {

        &::after {
          display: inline-block;
          content: '';
          border: solid green;
          border-width: 0 6px 6px 0;
          display: inline-block;
          padding: 6px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          margin-top: 15px;
        }




    }
  }

}
