<div class="company-info">
  <div class="row">
    <div class="col-6 col-md-6 col-sm-12">
        <div class="table-responsive">
          <table  class="table table-hover company-table">
            <tbody>
              <tr *ngFor="let item of content.content_data.data_list" [ngClass]="{'text-primary active right': item.activeMap}">
                  <th class="text-left mr-2">{{item.name}}</th>
                  <td class="text-left mr-2" >
                    <span *ngIf="(item.id !=='c02' && item.id !== 'c03')">
                        {{item.content}}
                        <ng-container *ngIf="item.tags.length > 0">
                          <span class="badge badge-pill badge-success mr-1" *ngFor="let tag of item.tags">
                            {{tag}}
                          </span>

                        </ng-container>

                    </span>
                    <span class="text-primary" *ngIf="(item.id =='c02') || (item.id == 'c03')">
                        {{item.content | currency:'':'symbol':'1.0-0'}}
                    </span>

                  </td>
              </tr>
            </tbody>


          </table>
        </div>

    </div>
    <div class="col-6 col-md-6 col-sm-12">
      <app-map></app-map>
    </div>
  </div>


</div>
