
$arrowColor: green;
$blackListBg: #c00000;
.company-info {
  .company-table {
    .badge {
      &.badge-vip {
        background: orange;
        color:#FFF;
      }
      &.badge-black {
        background: $blackListBg;
        color:#FFF;
      }
    }
    tr.active {

        &::after {
          display: inline-block;
          content: '';
          border: solid green;
          border-width: 0 6px 6px 0;
          display: inline-block;
          padding: 6px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          margin-top: 15px;
          right: 20px;
        }




    }
  }

}
