
$tab-cathy-color: #009F41;
$tab-cathy-lightgreen: #76Bc21;
$tab-gray: #999;

$all-A-color: #76Bc21;
$all-b-color: #CDDE00;

$deposit-A-color: #003049;;
$deposit-b-color: #d3794a;
$load-A-color: #09558a;
$load-b-color: #48a9c5;
$tmu-A-color: #f77f00;
$tmu-b-color: #FFE180;

$man-A-color: #009F41;
$man-b-color: #CCB270;

.bottom-card {
  height: 360px !important;
}
.customer-history {
  .nav-tabs {
    margin:0;
    padding:0;
    border: none !important;
    // border-bottom: 3px solid #dbdbdb;
    .nav-link {
      border:1px solid #EEE;
      color: #ffffff8a;
      opacity: 0.4;
      border-radius: 3px !important;
      position: relative;
      top: 0px;
      &:hover {
        opacity: 1 !important;
        color: #FFF;
        text-shadow: 0 0px 3px #DDD;
      }

      &.active {
        border-width:1px;
        border-color: #777;
        opacity: 1 !important;
        color: #FFF!important;
        text-shadow: 0 0px 3px #DDD important;
        position: relative;
        top: 0px;
      }
      &.all-type {
        background: linear-gradient(0deg, $all-b-color, $all-A-color);
        &.active {
          border-color: $all-A-color;
        }
      }
      &.type-deposit {
        background: linear-gradient(0deg, $deposit-b-color, $deposit-A-color);
        &.active {
          border-color: $deposit-A-color;
        }

      }
      &.type-load {
        background: linear-gradient(0deg, $load-b-color, $load-A-color);
        &.active {
          border-color: $load-A-color;
        }

      }
      &.type-tmu {
        background: linear-gradient(0deg, $tmu-b-color, $tmu-A-color);
        &.active {
          border-color: $tmu-A-color;
        }
      }
      &.type-man {
        background: linear-gradient(0deg, $man-b-color, $man-A-color);
        &.active {
          border-color: $man-A-color;
        }
      }
    }
  }

  // style B
  .tab-btn {
    width:100%;
    height: auto;
    box-sizing: border-box;
    .tab-btn-item {
      cursor: pointer;
      width:98%;
      border: 1px solid $tab-gray;
      color: $tab-gray;
      margin:3px;
      text-align: center;
      overflow: hidden;
      text-emphasis: none;
      text-overflow: hidden;
      display:inline-block;
      border-radius: 3px;
      transition: all .5s ease;
      height:26px;
      line-height: 26px;
      padding:0;
      box-sizing: border-box;
      &:hover {
        background-color:$tab-cathy-lightgreen;
        color:#FFF;
        border-color: $tab-cathy-lightgreen;
      }
      &.active {
        background-color: $tab-cathy-color;
        color:#FFF;
        border-color: $tab-cathy-color;
      }
    }
  }

}

.content-list {
  margin: 8px 0;
  padding: 0px;
  list-style: none;
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  li {
    padding:0 0 6px 10px;
    .list {
      padding:2px;
      span {
        display: inline-block;
        padding:0px;
        vertical-align: middle;
        height: 100%;
      }
      .type-block {
        width: auto;
        min-width: 62px;
        max-width: 68px;
      }
      .content-block {
        width: auto;
        min-width: 100px;
        max-width: 400px;
        div {
          height: 25px;
          line-height: 25px;
        }
      }
      .type {
        font-weight: 700;
        background: #fff;
        color: #000;
        width: auto;
        text-align: center;
        border-radius: 5px;
        min-width: 60px;
        border: 1px solid #ddd;
        height: 50px;
        line-height: 50px;

        &.type-deposit {
          color: $deposit-A-color;
          border-color: $deposit-A-color;
        }
        &.type-loan {
          color: $load-A-color;
          border-color: $load-A-color;
        }
        &.type-04 {
          color: $tmu-A-color;
          border-color: $tmu-A-color;
        }
        &.type-man {
          color: $man-A-color;
          border-color: $man-A-color;
        }

      }
      .date {
        width: auto;
        max-width: 120px;
        font-size: 1rem;
        margin-right: 10px;
      }
      .unit {
        width: 80px;
        font-weight: 700;
        &.type-deposit {
          color: $deposit-A-color;
        }
        &.type-loan {
          color: $load-A-color;
        }
        &.type-04 {
          color: $tmu-A-color;
        }
        &.type-man {
          color: $man-A-color;
        }

      }
      .content {
        width: 320px;
      }
    }
  }
}

// ellipsis
.text-ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

