<div class="card shadow-lg base-block top-card">
    <app-water-print *ngIf="!hideBlock"></app-water-print>

    <div class="card-body" *ngIf="hideBlock">
        <h4 class="card-title text-primary clearfix ">
            <div class="d-inline-block title-name">
                {{baseinfo_text}}
            </div>
        </h4>
        <app-loading *ngIf="loadingStatus"></app-loading>
        <app-no-data [message]="nodata" *ngIf="!hasResult"></app-no-data>
    </div>

    <div class="card-body" *ngIf="!hideBlock">
        <h4 class="card-title text-primary clearfix has-notification-icon">
            <!-- 基本資訊 -->
            <div class="d-inline-block title-name">
                {{baseinfo_text}}
            </div>
            <!-- 授網薪集黑 -->
            <div class="d-inline-block ml-2">
                <ng-container *ngFor="let f of CompanyFlag; let fi = index">
                    <ng-container *ngIf="f.status">
                        <span class="tag" matTooltip="{{f.text}}" matTooltipPosition="above" [ngClass]="{
                            'tag-green':f.id=='授信戶',
                            'tag-blue':f.id=='企網銀',
                            'tag-gold':f.id=='薪轉戶',
                            'tag-orange':f.id=='集團核心',
                            'tag-red':f.id=='黑名單'}">
                            {{f.letter}}
                        </span>
                    </ng-container>
                </ng-container>
            </div>
            <!-- 關鍵提醒 -->
            <app-notice-icon [notice]="0" [modalId]="2"></app-notice-icon>
        </h4>

        <!-- 客戶名稱+統編+行業 -->
        <div class="company-title text-h3">
            <span class="d-inline-block font-weight-bolder">
                {{Company.data?.customerName}}
            </span>
            <span class="d-inline-block ml-3">
                {{uniform_numbers_text}}{{Company.data?.customerId}}
            </span>
            <span class="d-inline-block ml-3 badge badge-secondary">
                {{Company.data?.industryCode}}
            </span>
        </div>

        <!-- start of lg version -->
        <div class="d-none d-lg-block">
            <div class="row">
                <!-- 公司資訊和集團資訊  -->
                <div class="col-7">
                    <!-- 標題 : 公司資訊，集團資訊 -->
                    <div class="row">
                        <div class="col-7">
                            <div class="d-block body-subtitle">
                                <span class="btn btn-outline btn-outline-primary has-arrow"
                                    (click)="openDialog(3,true)">
                                    {{companyinfo_text}}
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="d-block body-subtitle">
                                <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(4)">
                                    {{groupinfo_text}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- 內容 : 公司資訊，集團資訊  -->
                    <div class="row">
                        <div class="col-7">
                            <div class="number-list shadow-sm ">
                                <ol>
                                    <li>
                                        <p>
                                            <em class="d-inline-block mr-1">
                                                {{nextreviewdate_text}}
                                            </em>
                                            {{Company.data?.nextReviewDate}}
                                        </p>
                                    </li>
                                    <li>
                                        <div class="row no-gutters company-number-block">
                                            <div class="d-inline-block col-6 col-xs-6 col-md-12 col-lg-12">
                                                <span class="badge badge-pill px-2 py-1">
                                                    <span class="title text-left">{{TCRI_text}}</span>
                                                    <span class="num text-right">{{Company.data?.tcriLevel}}</span>
                                                </span>
                                            </div>
                                            <div class="d-inline-block col-6 col-xs-6 col-md-12 col-lg-12">
                                                <span class="badge badge-pill px-2 py-1">
                                                    <span class="title text-left">{{MSR_text}}</span>
                                                    <span class="num text-right">{{Company.data?.approvalGrade}}</span>
                                                </span>
                                            </div>
                                            <div class="d-inline-block  col-6 col-xs-6 col-md-12 col-lg-12">
                                                <span class="badge badge-pill px-2 py-1">
                                                    <span class="title text-left">{{RORWA_text}}</span>
                                                    <span class="num text-right">{{Company.data?.rorwa}}</span>
                                                </span>
                                            </div>
                                            <div class="d-inline-block  col-6 col-xs-6 col-md-12 col-lg-12">
                                                <span class="badge badge-pill px-2 py-1">
                                                    <span class="title text-left">{{RAROC_text}}</span>
                                                    <span class="num text-right">{{Company.data?.raroc}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="number-list shadow-sm ">
                                <ol>
                                    <li>
                                        <p>
                                            <em class="d-inline-block">
                                                {{Group.data?.parentCustomerName}}
                                            </em>
                                            {{Group.data?.parentCompanyId}}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <em class="d-inline-block">
                                                {{sumfacdfxlimitamt_text}}
                                            </em>
                                            {{sumfacdFxLimitAmt}}
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <em class="d-inline-block">
                                                {{sumlbfxcurrentbal_text}}
                                            </em>
                                            {{sumLbFxCurrentBal}}
                                        </p>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="d-inline-block col-12 col-md-12">
                                                <span class="badge badge-pill p-2 mr-1">
                                                    <span class="title text-left">{{RORWA_text}}</span>
                                                    <span class="num text-right">{{Group.data?.rorwa}}</span>
                                                </span>
                                            </div>
                                            <div class="d-inline-block col-12 col-md-12">
                                                <span class="badge badge-pill p-2 mr-1">
                                                    <span class="title text-left">{{RAROC_text}}</span>
                                                    <span class="num text-right">{{Group.data?.raroc}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- 標題 : 經管資訊，個人關聯戶 -->
                    <div class="row pt-2">
                        <div class="col-7">
                            <div class="d-block body-subtitle">
                                <span class="btn btn-outline btn-outline-primary has-arrow"
                                    (click)="openDialog(6, false)">
                                    {{manageinfo_text}}
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="d-block body-subtitle has-notification-icon bad-alert">
                                <span class="btn btn-outline btn-outline-primary has-arrow"
                                    (click)="openDialog(5, true)">
                                    {{personal_account_text}}
                                </span>
                                <app-warning-icon [alert]="3" (click)="openDialog(5, true)"></app-warning-icon>
                            </div>
                        </div>
                    </div>
                    <!-- 內容 : 經管資訊，個人關聯戶  -->
                    <div class="row">
                        <div class="col-7">
                            <div class="number-list shadow-sm">
                                <ol>
                                    <li>
                                        <p>
                                            <em>
                                                {{Company.data?.aoType}} {{Company.data?.manageBranchName}}
                                            </em>
                                            {{Company.data?.aoEmpCode}} {{Company.data?.aoEmpName}}
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="number-list shadow-sm">
                                <ol>
                                    <li class="d-inline-block mr-1">
                                        <p>
                                            <em class="d-inline-block">
                                                {{debt_text}}
                                            </em>
                                            {{Company.data?.totalRelLiabilitiesBal}}
                                        </p>
                                    </li>
                                    <li class="d-inline-block mr-1">
                                        <p>
                                            <em class="d-inline-block">
                                                {{assets_text}}
                                            </em>
                                            {{Company.data?.totalRelAssetBal}}
                                        </p>
                                    </li>
                                    <li class="d-inline-block mr-1">
                                        <p>
                                            <em class="d-inline-block">
                                                {{creditcard_quota_text}}
                                            </em>
                                            {{Company.data?.totalRelCreditLimit}}
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 貢獻度  -->
                <div class="col-5">
                    <div class="row">
                        <div class="col-12 d-block body-subtitle clearfix m-0 p-0 line">
                            <span class="d-inline-block btn btn-outline btn-outline-primary has-arrow float-left"
                                (click)="openDialog(7)">{{contribution_text}}</span>
                        </div>
                    </div>
                    <!-- 圖表 -->
                    <div class="ao-charts">
                        <div class="charts-note text-center d-flex justify-content-center">
                            <div class="note last-year">
                                <div class="w-100 font-weight-bolder text-small">
                                    {{contribution_lastyeartotal_text}}
                                </div>
                                <div class="w-100">
                                    {{ContributionLastYearTotal}}
                                </div>
                            </div>
                            <div class="note this-year">
                                <div class="w-100 font-weight-bolder text-small">
                                    {{contribution_thisyeartotal_text}}
                                </div>
                                <div class="w-100">
                                    {{ContributionThisYearTotal}}
                                </div>
                            </div>
                        </div>
                        <apx-chart #ChartObj 
                            [chart]="ChartData.chart" 
                            [plotOptions]="ChartData.plotOptions"
                            [dataLabels]="ChartData.dataLabels" 
                            [stroke]="ChartData.stroke" 
                            [series]="ChartData.series"
                            [xaxis]="ChartData.xaxis" 
                            [yaxis]="ChartData.yaxis" 
                            [colors]="ChartData.colors"
                            [responsive]="ChartData.responsive" 
                            [legend]="ChartData.legend"
                            [tooltip]="ChartData.tooltip">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of lg version  -->

        <!-- start of md version  -->
        <div class="d-none d-md-block d-lg-none">
            <div class="row">
                <!-- title  -->
                <div class="col-6">
                    <div class="d-block body-subtitle">
                        <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(3,true)">
                            {{companyinfo_text}}
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-block body-subtitle">
                        <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(4)">
                            {{groupinfo_text}}
                        </span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="number-list shadow-sm ">
                        <ol>
                            <li>
                                <p>
                                    <em class="d-inline-block mr-1">
                                        {{nextreviewdate_text}}
                                    </em>
                                    {{Company.data?.nextReviewDate}}
                                </p>
                            </li>
                            <li>
                                <div class="row no-gutters company-number-block">
                                    <div class="d-inline-block col-6 col-xs-6 col-md-12 col-lg-12">
                                        <span class="badge badge-pill px-2 py-1">
                                            <span class="title text-left">{{TCRI_text}}</span>
                                            <span class="num text-right">{{Company.data?.tcriLevel}}</span>
                                        </span>
                                    </div>
                                    <div class="d-inline-block col-6 col-xs-6 col-md-12 col-lg-12">
                                        <span class="badge badge-pill px-2 py-1">
                                            <span class="title text-left">{{MSR_text}}</span>
                                            <span class="num text-right">{{Company.data?.approvalGrade}}</span>
                                        </span>
                                    </div>
                                    <div class="d-inline-block  col-6 col-xs-6 col-md-12 col-lg-12">
                                        <span class="badge badge-pill px-2 py-1">
                                            <span class="title text-left">{{RORWA_text}}</span>
                                            <span class="num text-right">{{Company.data?.rorwa}}</span>
                                        </span>
                                    </div>
                                    <div class="d-inline-block  col-6 col-xs-6 col-md-12 col-lg-12">
                                        <span class="badge badge-pill px-2 py-1">
                                            <span class="title text-left">{{RAROC_text}}</span>
                                            <span class="num text-right">{{Company.data?.raroc}}</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-6">
                    <div class="number-list shadow-sm ">
                        <ol>
                            <li>
                                <p>
                                    <em class="d-inline-block">
                                        {{Group.data?.parentCustomerName}}
                                    </em>
                                    {{Group.data?.parentCompanyId}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <em class="d-inline-block">
                                        {{sumfacdfxlimitamt_text}}
                                    </em>
                                    {{sumfacdFxLimitAmt}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <em class="d-inline-block">
                                        {{sumlbfxcurrentbal_text}}
                                    </em>
                                    {{sumLbFxCurrentBal}}
                                </p>
                            </li>
                            <li>
                                <div class="row no-gutters">
                                    <div class="d-inline-block col-12 col-md-12">
                                        <span class="badge badge-pill p-2 mr-1">
                                            <span class="title text-left">{{RORWA_text}}</span>
                                            <span class="num text-right">{{Group.data?.rorwa}}</span>
                                        </span>
                                    </div>
                                    <div class="d-inline-block col-12 col-md-12">
                                        <span class="badge badge-pill p-2 mr-1">
                                            <span class="title text-left">{{RAROC_text}}</span>
                                            <span class="num text-right">{{Group.data?.raroc}}</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- 標題  -->
                <div class="col-6 mt-2">
                    <div class="d-block body-subtitle">
                        <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(6, false)">
                            {{manageinfo_text}}
                        </span>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="d-block body-subtitle has-notification-icon bad-alert">
                        <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(5, true)">
                            {{personal_account_text}}
                        </span>
                        <app-warning-icon [alert]="3" (click)="openDialog(5, true)"></app-warning-icon>
                    </div>
                </div>

                <!-- 內容 -->
                <div class="col-6">
                    <div class="number-list shadow-sm">
                        <ol>
                            <li>
                                <p>
                                    <em class="d-inline-block mr-2">
                                        {{Company.data?.aoType}} {{Company.data?.manageBranchName}}
                                    </em>
                                    {{Company.data?.aoEmpCode}} {{Company.data?.aoEmpName}}
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="col-6">
                    <div class="number-list shadow-sm">
                        <ol>
                            <li class="d-inline-block mr-1">
                                <p>
                                    <em class="d-inline-block">
                                        {{debt_text}}
                                    </em>
                                    {{Company.data?.totalRelLiabilitiesBal}}
                                </p>
                            </li>
                            <li class="d-inline-block mr-1">
                                <p>
                                    <em class="d-inline-block">
                                        {{assets_text}}
                                    </em>
                                    {{Company.data?.totalRelAssetBal}}
                                </p>
                            </li>
                            <li class="d-inline-block mr-1">
                                <p>
                                    <em class="d-inline-block">
                                        {{creditcard_quota_text}}
                                    </em>
                                    {{Company.data?.totalRelCreditLimit}}
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- 貢獻度 -->
                <div class="col-12 mt-2">
                    <div class="d-block body-subtitle">
                        <span class="d-inline-block btn btn-outline btn-outline-primary has-arrow float-left"
                            (click)="openDialog(7)">{{contribution_text}}</span>
                    </div>
                </div>

                <div class="col-12">
                    <!-- 圖表 -->
                    <div class="ao-charts">
                        <div class="charts-note text-center d-flex justify-content-center">
                            <div class="note last-year">
                                <div class="w-100 font-weight-bolder text-small">
                                    {{contribution_lastyeartotal_text}}
                                </div>
                                <div class="w-100">
                                    {{ContributionLastYearTotal}}
                                </div>
                            </div>
                            <div class="note this-year">
                                <div class="w-100 font-weight-bolder text-small">
                                    {{contribution_thisyeartotal_text}}
                                </div>
                                <div class="w-100">
                                    {{ContributionThisYearTotal}}
                                </div>
                            </div>
                        </div>

                        <apx-chart #chartObj [chart]="ChartData.chart" [plotOptions]="ChartData.plotOptions"
                            [dataLabels]="ChartData.dataLabels" [stroke]="ChartData.stroke" [series]="ChartData.series"
                            [xaxis]="ChartData.xaxis" [yaxis]="ChartData.yaxis" [colors]="ChartData.colors"
                            [responsive]="ChartData.responsive" [legend]="ChartData.legend"
                            [tooltip]="ChartData.tooltip">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of md version  -->

        <!-- start of sm version -->
        <div class="row no-gutters d-none d-sm-block d-md-none">
            <!-- 公司資訊 -->
            <div class="m-0 p-0 col-12">
                <div class="d-block body-subtitle">
                    <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(3,true)">
                        {{companyinfo_text}}
                    </span>
                </div>

                <div class="number-list shadow-sm p-1">
                    <ol>
                        <li>
                            <p>
                                <em class="d-inline-block mr-1">
                                    {{nextreviewdate_text}}
                                </em>
                                {{Company.data?.nextReviewDate}}
                            </p>
                        </li>
                        <li>
                            <div class="row company-number-block">
                                <div class="col-6">
                                    <span class="badge badge-pill px-2 py-1">
                                        <span class="title text-left">{{TCRI_text}}</span>
                                        <span class="num text-right">{{Company.data?.tcriLevel}}</span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="badge badge-pill px-2 py-1">
                                        <span class="title text-left">{{MSR_text}}</span>
                                        <span class="num text-right">{{Company.data?.approvalGrade}}</span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="badge badge-pill px-2 py-1">
                                        <span class="title text-left">{{RORWA_text}}</span>
                                        <span class="num text-right">{{Company.data?.rorwa}}</span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="badge badge-pill px-2 py-1">
                                        <span class="title text-left">{{RAROC_text}}</span>
                                        <span class="num text-right">{{Company.data?.raroc}}</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- 經管資訊 -->
            <div class="m-0 pt-2 col-12">
                <div class="d-block body-subtitle">
                    <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(6, false)">
                        {{manageinfo_text}}
                    </span>
                </div>
                <div class="number-list shadow-sm p-1">
                    <ol>
                        <li>
                            <p>
                                <em>
                                    {{Company.data?.aoType}} {{Company.data?.manageBranchName}}
                                </em>
                                {{Company.data?.aoEmpCode}} {{Company.data?.aoEmpName}}
                            </p>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- 集團資訊 -->
            <div class="m-0 pt-2 col-12">
                <div class="d-block body-subtitle">
                    <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(4)">
                        {{groupinfo_text}}
                    </span>
                </div>
                <div class="number-list shadow-sm p-1">
                    <ol>
                        <li>
                            <p>
                                <em class="d-inline-block">
                                    {{Group.data?.parentCustomerName}}
                                </em>
                                {{Group.data?.parentCompanyId}}
                            </p>
                        </li>
                        <li>
                            <p>
                                <em class="d-inline-block">
                                    {{sumfacdfxlimitamt_text}}
                                </em>
                                {{sumfacdFxLimitAmt}}
                            </p>
                        </li>
                        <li>
                            <p>
                                <em class="d-inline-block">
                                    {{sumlbfxcurrentbal_text}}
                                </em>
                                {{sumLbFxCurrentBal}}
                            </p>
                        </li>
                        <li>
                            <div class="row no-gutters">
                                <div class="d-inline-block col-12 col-md-12">
                                    <span class="badge badge-pill p-2 mr-1">
                                        <span class="title text-left">{{RORWA_text}}</span>
                                        <span class="num text-right">{{Group.data?.rorwa}}</span>
                                    </span>
                                </div>
                                <div class="d-inline-block col-12 col-md-12">
                                    <span class="badge badge-pill p-2 mr-1">
                                        <span class="title text-left">{{RAROC_text}}</span>
                                        <span class="num text-right">{{Group.data?.raroc}}</span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- 個人關聯戶 -->
            <div class="m-0 pt-2 col-12">
                <div class="d-block body-subtitle has-notification-icon bad-alert">
                    <span class="btn btn-outline btn-outline-primary has-arrow" (click)="openDialog(5, true)">
                        {{personal_account_text}}
                    </span>
                    <app-warning-icon [alert]="3" (click)="openDialog(5, true)"></app-warning-icon>
                </div>
                <div class="number-list shadow-sm">
                    <ol>
                        <li class="d-inline-block mr-1">
                            <p>
                                <em class="d-inline-block">
                                    {{debt_text}}
                                </em>
                                {{Company.data?.totalRelLiabilitiesBal}}
                            </p>
                        </li>
                        <li class="d-inline-block mr-1">
                            <p>
                                <em class="d-inline-block">
                                    {{assets_text}}
                                </em>
                                {{Company.data?.totalRelAssetBal}}
                            </p>
                        </li>
                        <li class="d-inline-block mr-1">
                            <p>
                                <em class="d-inline-block">
                                    {{creditcard_quota_text}}
                                </em>
                                {{Company.data?.totalRelCreditLimit}}
                            </p>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- 貢獻度 -->
            <div class="col-12 pt-2">
                <div class="d-block body-subtitle clearfix m-0 p-0 line">
                    <span class="d-inline-block btn btn-outline btn-outline-primary has-arrow float-left"
                        (click)="openDialog(7)">{{contribution_text}}</span>
                </div>

                <!-- 圖表 -->
                <div class="ao-charts">
                    <div class="charts-note text-center d-flex justify-content-center">
                        <div class="note last-year">
                            <div class="w-100 font-weight-bolder text-small">
                                {{contribution_lastyeartotal_text}}
                            </div>
                            <div class="w-100">
                                {{ContributionLastYearTotal}}
                            </div>
                        </div>
                        <div class="note this-year">
                            <div class="w-100 font-weight-bolder text-small">
                                {{contribution_thisyeartotal_text}}
                            </div>
                            <div class="w-100">
                                {{ContributionThisYearTotal}}
                            </div>
                        </div>
                    </div>

                    <apx-chart #chartObj [chart]="ChartData.chart" [plotOptions]="ChartData.plotOptions"
                        [dataLabels]="ChartData.dataLabels" [stroke]="ChartData.stroke" [series]="ChartData.series"
                        [xaxis]="ChartData.xaxis" [yaxis]="ChartData.yaxis" [colors]="ChartData.colors"
                        [responsive]="ChartData.responsive" [legend]="ChartData.legend" [tooltip]="ChartData.tooltip">
                    </apx-chart>
                </div>
            </div>
        </div>
        <!-- end of sm version -->
    </div>
</div>