.tree-logo{
    padding:3px;
    visibility: hidden;
    display: none;
}

  
@media only screen and (max-width: 520px) {
        .normal-logo{
            visibility: hidden ;
            display: none;
        }
        .tree-logo{
            visibility: visible;
            display: inline-block;
        }
}

@media (min-width: 521px) and (max-width: 3000px) {
    .normal-logo{
        visibility: visible ;
        display: inline-block;
    }
    .tree-logo{
        visibility: hidden;
        display: none;
    }
}

    