



<!-- [ngClass]="{'narrow-width': !sideWide}" -->

<div class="sidebar bg-gradient-cathygreen"  data-color="danger"
[@onSideNavChange]="onSideNavChange ? 'open' : 'close'"
 data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
  <div class="logo">
      <a href="#" class="simple-text">
          <div class="logo-img">

              <!-- 國泰綠樹logo -->
              <!-- <app-tree-logo></app-tree-logo> -->

              <!-- 國泰白色樹 logo  -->
              <app-logo-white></app-logo-white>
          </div>
      </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <!-- 改為 hover 開關，故 hide 開關的按鈕  -->
        <!-- 20191106 user 改回手動開關 故再打開此功能，改在標題旁邊，這個先hide -->
        <!-- <li class="nav-item sidebar-toggle" (click)="onSidebarToggle()">
          <a class="nav-link">
            <i class="material-icons">
              swap_horiz
            </i>
          </a>
        </li> -->
    </ul>
  </div>

</div>


