<div class="wrapper">

    <app-notice-modal></app-notice-modal>

    <!-- sidebar: 側邊選單 -->
    <app-sidebar *ngIf="false"></app-sidebar>

    <!-- 中間內容 -->
    <div class="main-panel" *ngIf="false">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>


    <mat-sidenav-container class="wrapper">
        <mat-sidenav #leftSidenav mode="side" opened>
            <!-- sidebar: 側邊選單 -->
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content opened [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
          <div class="nav_content">
              <app-navbar></app-navbar>
          </div>
          <div class="main_content dashboard-main-content pt-1">
                <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
