.news-container {
  height: 190px;
  overflow: auto;
}


// table design
.news-block {
  table {
    width: 100%;
    margin: 0 auto;
    font-family: '微軟正黑體';
    font-size: 1rem !important;
    tr {
      height: 24px;
      line-height: 24px;
    }
    .mat-header-row {
      // background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
      background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
    }

    th {
      padding:5px 6px;
      margin:0;
      font-style: normal;
      color:#335238;
      font-size:1rem;
      letter-spacing: 1px;

    }
    th,td {
      text-align: center;
      font-size: 1rem !important;
    }
  }
}



.news-block{
  height: auto;
  min-height: 470px;
  .card-title {
    a.title-arrow {
      display:inline-block;
      cursor: pointer;
    }
    i.material-icons{
      vertical-align: middle;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

}

.list-table {
  display: table;
  margin: 5px;
  ul {
    display: table-row;
    > li {
      display:table-cell;
      padding:5px;
    }
  }
  .news-content {
    max-width: 250px;
  }
  ul.title {
    li {
      font-size: 1rem;
      color:#999;
      &.th-width {
        width:90px;
      }
    }
  }
  ul.content {
    box-shadow: inset 0px 1px 1px #dddddd70;
    padding: 10px;
    margin: 5px;
  }
}


.table-scroll {
	height: 200px;
  overflow-y: scroll;
  .th-width {
      width:80px;
  }
}
