<div class="card news-block">
    <!-- <div class="card-header card-header-danger">
        <h4 class="card-title">Material Dashboard PRO Angular</h4>
        <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard Angular.</p>
    </div> -->
    <div class="card-body">
        <h4 class="card-title text-primary">消息集錦</h4>
        <div class="table-responsive">
            <table class="table m-0 p-0">
                <thead class=" text-primary">
                    <th>
                        <a href="#" class="underline">要點新聞</a>
                    </th>
                    <th>
                        內容摘要
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            2019/06/18
                        </td>
                        <td>
                            <a href="#" class="underline">台積電揮別谷底開盤價歷史</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019/06/16
                        </td>
                        <td>
                            <a href="#" class="underline">台積電法說會後外資調高</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019/06/10
                        </td>
                        <td>
                            <a href="#" class="underline">張忠謀領導心法相信台積電</a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table  m-0 p-0">
                <thead class=" text-primary">
                    <th>
                        <a href="#" class="underline">銀行同業</a>
                    </th>
                    <th>
                        額度變動
                    </th>
                    <th>
                        餘額變動
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            國泰世華
                        </td>
                        <td>
                           <span class="text-primary"> + $ 000</span>
                        </td>
                        <td>
                            - $ 000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            台北富邦
                        </td>
                        <td>
                            <span class="text-primary"> + $ 000</span>
                        </td>
                        <td>
                            - $ 000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            花旗銀行
                        </td>
                        <td>
                            <span class="text-primary"> + $ 000</span>
                        </td>
                        <td>
                            - $ 000
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
