
<div class="group-info">

  <div class="card card-table">
      <div class="card-header card-header-primary">
          <h5 class="card-title ">集團資訊
            <span class="badge float-right">
                貢獻度資料期間 : 2018/12 ~ 2019/07
            </span>
          </h5>
      </div>
      <div class="card-body">

          <div class="row no-gutters text-center">
            <div class="col-md-3">
              <div>
                  去年度累計貢獻度
              </div>
              <div class="text-cen">
                  200
              </div>
            </div>

            <div class="col-md-3">
                <div>
                    今年度累計貢獻度
                </div>
                <div class="text-cen">
                    150
                </div>
            </div>

            <div class="col-md-2">
                <div>
                    存款餘額
                </div>
                <div class="text-cen">
                    100
                </div>
            </div>

            <div class="col-md-2">
                <div>
                    放款餘額
                </div>
                <div class="text-cen">
                    200
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    貿融餘額
                </div>
                <div class="text-cen">
                    50
                </div>
            </div>
          </div>
      </div>


  </div>

</div>
