.group-info{
  .card {
    overflow: visible;
    margin-top:20px;
    .card-header {
      margin:-6px 5px;
      padding: 8px 10px;
    }
  }
  .subtitle {
    background: green;
    color:#FFF;
    font-size: 1.2rem;;
  }
}
