<div class="contribution-block">
    <div class="card card-table">
        <div class="card-header">
            <h5 class="card-title ">
                <span class="row no-gutters">
                    <span class="col-6 text-left">
                        {{contribution_text}}
                    </span>
                    <span class="col-6 text-right text-small">
                        {{data_period_text}}{{data_period}}
                    </span>
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-mat-list">
                <table class="table m-0 p-0 table-hover table-sticky table-bordered">
                    <thead>
                        <tr>
                            <th class="text-black text-nowrap"> </th>
                            <ng-container *ngFor="let type of content.data.contributionType">
                                <th class="text-black text-nowrap">{{type}}</th>
                            </ng-container>
                            <th class="text-black text-nowrap">{{sum_text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>{{contribution_lastyeartotal_text}}</div>
                                <div>{{contribution_lastyear_period}}</div>
                            </td>
                            <ng-container *ngFor="let lastdata of content.data.lastcontri.contribution">
                                <td>{{lastdata}}</td>
                            </ng-container>
                            <td>{{lastsum}}</td>
                        </tr>
                        <tr>
                            <td>
                                <div>{{contribution_thisyeartotal_text}}</div>
                                <div>{{contribution_thisyear_period}}</div>
                            </td>
                            <ng-container *ngFor="let thisdata of content.data.thiscontri.contribution">
                                <td>{{thisdata}}</td>
                            </ng-container>
                            <td>{{thissum}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="pl-4 text-nowrap">{{change_text}}</th>
                            <ng-container *ngFor="let change of changearr">
                                <td>{{change}}</td>
                            </ng-container>
                            <td>{{changesum}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>