
// 存款 orange
$deposit-chart-color: #003049;

// 放款
$load-chart-color: #09558a;

// 貿融
$trade-chart-color: #0887b1;

// 進口,出口

$in-chart-color: #045960;
$out-chart-color: #08a08a;

//TMU
$tmu-color: #f77f00;
$mtm-color: #fbc93e;


// 項目 btn 寬度

$itemWidth: 75px;

.bottom-card {
  height: 360px ;
}

.all-charts-blcok {

  .card-body {
    z-index: 99;
  }
  .bg-deposit {
    color: white;
    font-weight: bold;
    background: $deposit-chart-color;
  }

  .bg-load {
    color: white;
    font-weight: bold;
    background: $load-chart-color;
  }
  .bg-trade {
    color: white;
    font-weight: bold;
    background: $trade-chart-color;
  }
  .bg-in {
    color: white;
    font-weight: bold;
    background: $in-chart-color;
  }
  .bg-out {
    color: black;
    font-weight: bold;
    background: $out-chart-color;
  }
  .bg-tmu {
    color: black;
    font-weight: bold;
    background: $tmu-color;


  }
  .bg-mtm {
    color: black;
    font-weight: bold;
    background: $mtm-color;
  }


  .title-block {
    margin-left: 20px;
    margin-right:20px;
    min-width: 220px;
    margin-bottom:8px;
    .chart-link-icon {
      width:40px;
      height:30px;
      min-width: 30px;
      line-height: 30px;
      font-size: 1rem;
      padding:3px;
      vertical-align: middle;
      i {
        height: 30px;
        vertical-align: middle;
      }
    }

  }


  .chart-title{
    vertical-align: middle;
    width: $itemWidth;

    .btn {
      padding: 3px;
      vertical-align: middle;
      color:inherit;
      width:100px;
      height: 30px;
      text-align: center;
      width: 95%;
    }
    .title {
      color: white;
      font-size: 1rem;
      font-weight: 700;
      vertical-align: middle;
      width: 95%;
    }
    .total {
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      width:95%;
      vertical-align: middle;
      width: 100%;
    }
  }

}

@media screen and (max-width: 1400px) {
  .bottom-card {
     height: auto !important;
  }
}

