<div class="notice-modal animated p-3" [ngClass]="{'close slideOutRight delay-1s': !NoticeOpen, 'open slideInRight': NoticeOpen}" #notice>
  <div class="notice-head-modal">
    <span class="float-right close" (click)="closeModal()">
        <i class="fas fa-times"></i>
    </span>

  </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>



</div>
