<form [formGroup]="stateForm" class="mb-0">
	<mat-form-field class="autocomplete-form" color="blue">
		<input #keyValue (keyup)="onKeyUpClear($event)" 
						(keyup.enter)="onKey($event)"
						(blur)="onKey($event.target.value)" 
			type="text" matInput placeholder="關鍵字搜尋"
			formControlName="stateGroup" [matAutocomplete]="autoGroup">
		<mat-autocomplete #autoGroup="matAutocomplete" class="auto-list">
			<mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.type">
				<mat-option *ngFor="let name of group.names" [value]="name" (click)="onKey($event)">
					<!-- {{name}} -->
					<span [innerHTML]="highlightFiltered(name)"></span>
				</mat-option>
			</mat-optgroup>
		</mat-autocomplete>
	</mat-form-field>
</form>