
.company-title {
  font-size: 1.4rem;
}
.number-list {
  width: 100%;
  ol {
    font-size:0.8rem;
    font-style:normal;
    padding:0;
    padding-left: 0px;
    list-style: none;
    li {
      .badge{
        margin-bottom: 5px;
        width: 120px;
      }
      p {

        font-style: normal;
        font-size: 1.2rem;
        word-spacing: 2px;
        padding-bottom: 0rem !important;
        margin-bottom: 0.8rem;
        em {
          display:block;
          font-style: normal;
          color:#999;
          font-size:1rem;
          letter-spacing: 1px;
        }
      }
    }
  }
  .badge {
    background: #fafafa;
    color: #000;
    border: 1px solid #CCC;
  }

}

.tag {
  margin-right: 5px;
}

.ao-charts{
  .charts-note{
    box-sizing: border-box;
    margin:3px auto;
    .note {
      color:#FFF;
      box-sizing: border-box;
      margin:3px;
      width:180px;
    }
    .last-year {
      background: #81c784;
    }
    .this-year {
      background: #388e3c;

    }
  }

}
