

<div class="card">
    <!-- <div class="card-header card-header-danger">
        <h4 class="card-title">Material Dashboard PRO Angular</h4>
        <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard Angular.</p>
    </div> -->
    <div class="card-body">
        <h4 class="card-title text-primary clearfix has-notification-icon ">
          基本資訊
          <span class="badge float-right notifications">
              <i class="material-icons text-info">
                notifications
              </i>
              <span class="notice bg-danger">
                2
              </span>
            </span>
        </h4>
        <div class="company-title row">
          <div class="col-md-7">
              <span class="card-subtitle d-inline-block">
                  企企部股份有限公司
              </span>
              <span class="d-inline-block ml-3">
                <small>
                  統編 : 12345678
                </small>
              </span>
          </div>
          <div class="col-md-5 text-right">
              <b> <a href="#" class="underline">經管資訊</a> : </b>
              <small>
                AO 企企區中 NT81752 葉又萱
              </small>
          </div>


        </div>
        <div class="row">


        </div>
    </div>
</div>
