
.has-notification-icon{
  position: relative;
  .notifications {
    position: absolute;
    top: -10px;
    left: 80px;
  }

}

.company-title {
  font-size: 1.4rem;
}
.number-list {
  width: 100%;
  padding:0;
  margin:0;

  ol {
    font-size:0.8rem;
    font-style:normal;
    padding:0;
    margin: 0;
    padding-left: 0px;
    list-style: none;
    li {
      .badge{
        margin-bottom: 3px;
        width: 95%;
        font-size: 0.7rem;
        background: #fafafa;
        color: #000;
        border: 1px solid #CCC;
        text-align: left;
        padding: 8px 3px;
        .num {
          font-size: 1rem;
          font-weight: 700;
          text-align: right;
          display: inline-block;
        }

      }
      p {
        font-style: normal;
        font-size: 1.2rem;
        word-spacing: 2px;
        padding-bottom: 0rem !important;
        margin-bottom: 0.5rem;
        em {
          display:block;
          font-style: normal;
          color:#335238;
          font-size:0.8rem;
          letter-spacing: 1px;
        }
      }
    }
  }


}

.tag {
  margin-right: 2px;
  width:36px;
  height: 36px;
  line-height: 36px;
}

.ao-charts{
  .charts-note{
    box-sizing: border-box;
    margin:3px auto;
    .note {
      color:#FFF;
      box-sizing: border-box;
      margin:3px;
      width:180px;
    }
    .last-year {
      background: #81c784;
    }
    .this-year {
      background: #388e3c;

    }
  }

}
