

<div class="card">
    <!-- <div class="card-header card-header-danger">
        <h4 class="card-title">Material Dashboard PRO Angular</h4>
        <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard Angular.</p>
    </div> -->
    <div class="card-body">
        <h4 class="card-title text-primary">基本資訊 </h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem officiis rerum, saepe similique voluptatum quae. Ab, dolor assumenda? Repellat, voluptatibus! Voluptas tenetur odio dignissimos velit. Eum ducimus voluptatum inventore quia.
        </p>
    </div>
</div>
