
<span class="order" *ngIf="theColumn.isColumn; else noOrder" >
    <i class="material-icons"  [ngClass]="{ 'not-active': !(theColumn.asc == '1')}">
        arrow_drop_up
    </i>
    <i class="material-icons not-active" [ngClass]="{'not-active': !(theColumn.asc == '2')}">
        arrow_drop_down
    </i>
</span>
<ng-template #noOrder>
    <span class="order" >
        <i class="material-icons not-active">
            arrow_drop_up
        </i>
        <i class="material-icons not-active" >
            arrow_drop_down
        </i>
    </span>
</ng-template>