<div class="financing-block">
    <!-- 總授信 -->
    <div class="card card-table">
        <div class="card-header card-header-primary">
            <h5 class="card-title ">
                總授信 :
                <span class="text-small">
                    含臺外幣，額度包含未到期額度及到期有餘額
                </span>
            </h5>
        </div>
        <div class="card-body">

            <div class="row no-gutters text-center">
              <div class="col-md-6 col-lg-6 col-xs-6">
                <div class="text-lg font-weight-bolder">
                    總額度
                </div>
                <div class="text-center text-lg text-primary">
                    {{ 3189500 | currency:'':'':'1.0-0' }}
                </div>
              </div>

              <div class="col-md-6 col-lg-6 col-xs-6">
                  <div class="text-lg font-weight-bolder">
                      總餘額
                  </div>
                  <div class="text-center text-lg text-primary">
                      {{ 1603975 | currency:'':'':'1.0-0' }}
                  </div>
              </div>
            </div>
        </div>


    </div>

    <!-- 授信明細 -->
    <div class="card card-table">
        <div class="card-header card-header-primary">
            <h5 class="card-title ">
                授信明細
            </h5>
        </div>
        <div class="card-body">

            <div class="table-mat-list">
                <table class="table m-0 p-0 table-hover table-sticky">
                    <thead>
                      <tr>
                        <th>額度/帳號ID</th>
                        <th>額度種類</th>
                        <th>幣別</th>
                        <th class="text-right">額度</th>
                        <th class="text-right">餘額</th>
                        <th class="text-right pr-3">動撥利率</th>
                        <th>動撥日</th>
                        <th>到期日</th>
                        <th>逐筆議價</th>
                        <th>擔保品</th>
                        <th>額度狀態</th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr>
                       <td>1000000002</td>
                       <td>週轉金(信用)</td>
                       <td>新臺幣</td>
                       <td class="text-right">{{80000 | currency : '' : '' : '1.0-0'}}</td>
                       <td class="text-right">{{40000 | currency : '' : '' : '1.0-0'}}</td>
                       <td class="text-right pr-3"> - </td>
                       <td> - </td>
                       <td> - </td>
                       <td> N </td>
                       <td> 不動產 </td>
                       <td> 逾可動用期限 </td>
                     </tr>
                     <tr>
                        <td>14APLN-001053</td>
                        <td> - </td>
                        <td> - </td>
                        <td class="text-right"> - </td>
                        <td class="text-right">{{40000 | currency : '' : '' : '1.0-0'}}</td>
                        <td class="text-right"> 1.21%  </td>
                        <td> 2019/02/06 </td>
                        <td> 2019/03/06  </td>
                        <td> - </td>
                        <td> - </td>
                        <td> - </td>
                      </tr>
                      <tr>
                          <td>1000000004</td>
                          <td> 進口遠期信用狀 </td>
                          <td> 美金 </td>
                          <td class="text-right"> {{ 100000 | currency : '' : '' : '1.0-0' }} </td>
                          <td class="text-right">{{35000 | currency : '' : '' : '1.0-0'}}</td>
                          <td class="text-right"> - </td>
                          <td> - </td>
                          <td> - </td>
                          <td> Y </td>
                          <td> 股票 </td>
                          <td> 核准 </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>


    </div>



</div>
