$sidebarBg: #fafafa ;
$link-color: #ffffff78;
$link-hover: #FFF;
$icon-color: #ffffff8a;


$cathybg : #009F41;
$cathlightGreen:#76BC21;

  .bg-gradient-cathygreen {
      background-color: $cathlightGreen;
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$cathlightGreen),to($cathybg));
      background-image: linear-gradient(0deg,$cathlightGreen 10%, $cathybg 100%);
      background-size: cover;
  }


.sidebar{
  // overflow-x: hidden;
  // background: $sidebarBg;
  background-color:  #009F41;
  // background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%)!important;
  li {
    &.active {
      > a {
        color: $link-color;

      }
    }
  }
  .nav {
    .nav-item {
      &.active {
        .nav-link {
          background: #ffffff85;
          color:$link-color;
          &::after {
            border-color: transparent #fcfbfb transparent transparent;
          }
        }
      }
      .nav-link {
        color:$link-color;
        i.material-icons {
          color: $icon-color;
        }
        &.active {
          border-left:3px solid #5ac20a9e;
          background: #FFF;
        }
        &:hover {
          color: $link-hover;
        }
      }

    }

  }
  .sidebar-wrapper{
    overflow-x: hidden;
  }
  &.narrow-width {
    width: 60px !important;
  }
}
