<div class="management-block">
    <!-- 經管資訊-->
    <div class="card card-table">
        <div class="card-header">
            <h5 class="card-title ">
                經管資訊
            </h5>
        </div>
        <div class="card-body">
            <div class="table-mat-list">
                <table class="table m-0 p-0 table-hover table-sticky table-bordered" mat-table
                    [dataSource]="management">
                    <ng-container matColumnDef="role">
                        <th class="text-black text-nowrap width-100" mat-header-cell *matHeaderCellDef>
                            {{customerid_text}}</th>
                        <td mat-cell *matCellDef="let element">{{element.role}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dev">
                        <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>{{window_text}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-inline-block mr-2 width-mid">
                                {{element.dev}}
                            </span>
                            <span class="d-inline-block mr-2 width-mid">
                                {{element.wid}}
                            </span>
                            <span class="d-inline-block width-mid">
                                {{element.name}}
                            </span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="manageColumn; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: manageColumn;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>