
<div>


    <!-- tabs -->
    <div>

        <ul  class="nav nav-tabs notice-tab">
            <li class="nav-item" *ngFor="let type of content.content_data.type_list">
                <a class="nav-link" [ngClass]="{'active': type.id == tabIndex}" (click)="changeTab(type.id)">
                  <span>{{type.name}}</span>
                  <span class="badge badge-primary ml-1">{{type.total}}</span>
                </a>
            </li>

        </ul>

    </div>

    <!-- content   -->

    <div>
        <ul class="list-group notice-content">

              <ng-container *ngFor="let item of content.content_data.data_list">
                <li class="list-group-item" *ngIf="(tabIndex == 'all')||(item.type == tabIndex)">
                  <div class="row no-gutters" >
                      <div class="col mr-2">
                        {{item.type_name}}
                      </div>
                      <div class="col mr-1">
                          {{item.time}}
                      </div>
                      <div class="col-8">
                          <div>
                              {{item.company}}
                          </div>
                          <div>
                              <a href="#" class="underline">
                                  {{item.new_title}}
                              </a>
                          </div>

                      </div>

                  </div>
                </li>
              </ng-container>
        </ul>


    </div>


</div>
