
$arrowColor: #009F41;
$blackListBg: #c00000;
$tag-border: #009F41;

$countryTagBg: #009F41;
$countryTagBorder:#009F41;
$countryTagColor: #FFF;

.company-info {
  .company-table {
    .table-th {
      min-width:150px;
    }
    .tag-infomation {
      color: black;
      border:1px double #DDD;
      border-color: #EEE #DDD #DDD  $tag-border;
      border-left-width: 3px;
    }
    .badge {
      &.badge-vip {
        background: orange;
        color:#FFF;
      }
      &.badge-black {
        background: $blackListBg;
        color:#FFF;
      }
    }
    tr.active {

        &::after {
          display: inline-block;
          content: '';
          border: solid green;
          border-width: 0 6px 6px 0;
          display: inline-block;
          padding: 6px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          margin-top: 15px;
          right: 20px;
        }




    }
    .country-tag {
      font-size: 12px;
      min-width:42px;
      text-align: center !important;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      padding: 0;
      margin: 2px 16px 2px 2px;
      background-color: $countryTagBg;
      border-color: $countryTagBorder;
      color: $countryTagColor;

      &::after, &::before {
        content: "";
        position: absolute;
      }
      &::after {
        height: 4px;
        width: 4px;
        left: -5px;
        top: 50%;
        margin-top: -2px;
        border-radius: 100%;
        background-color: currentColor;
        color: #FFF;
      }
      &::before {
        border: 8px solid transparent;
        right: 100%;
        top: 0;
        bottom: 0;
        border-right-color: inherit;
      }
    }
  }

}

// tag design

$tag-bg : #FFF;
$tag-hover-bg : #FFF;
$tag-border-color: #EEE;
$tag-border-radius: 5px;
$tag-width : 42px;
$tag-height : 36px;

.person-tag {
  display: inline-block;
  width: $tag-width+2 ;
  height: $tag-height+6;
  border-radius: $tag-border-radius;
  border: 1px solid transparent;
  text-align: center;
  padding: 3px;
  img {
    width: auto;
    height: $tag-height;
    margin: 0 auto;
    padding:2px;
  }
  &:hover {
    background-color: $tag-hover-bg;
    border: 1px solid $tag-border-color;
  }

}

.flag-block {
  .flag-box {
    padding:2px;
    background-color: $tag-hover-bg;
    border:1px solid $tag-border-color;
  }
  .flag-icon {
    font-size: 1.6rem;
  }
}
