.news-container {
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  .table{
    th.bank-th{
      min-width: 134px;
    }
  }
}


// table design
.news-block {
  height: 500px;
  .card-title {
    margin-right: 9px;
    // div {
    //   border:1px solid red;
    // }
  }
  table {
    width: 100%;
    margin: 0 auto;
    font-family: '微軟正黑體';
    font-size: 1rem !important;
    tr {
      height: 24px;
      line-height: 24px;
    }
    .mat-header-row {
      // background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
      background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
    }

    th {
      padding:5px 6px;
      // border:1px solid blue;
      margin:0;
      font-style: normal;
      color:#335238;
      font-size:1rem;
      letter-spacing: 1px;

    }
    th,td {
      text-align: center;
      font-size: 1rem !important;
    }
    th.th-tag {
      width: 20px;
    }
    td {
      a.news-title {
        display: inline-block;
        width: auto;
        max-width: 400px;
        overflow: hidden;

      }
    }

  }
}



.news-block{
  .card-title {
    height: 30px;
    line-height: 30px;
    min-width: 322px;
    .title-arrow {
      display:inline-block;
      cursor: pointer;
      width: 39%;
      min-width: 124px;
      z-index: 99;
      vertical-align: top;
      height: 30px;
      line-height: 30px;
    }
    .title-date {
      width:30%;
      min-width: 82px;
    }
    i.material-icons{
      vertical-align: middle;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .bank-date-block {

      height: 30px;
      > div {
        font-size: 12px !important;
        letter-spacing: 1px;
        -webkit-transform: scale(0.83);
        height: 15px;
        line-height: 15px;
        margin:0;
        padding:0;
        text-align: center;
      }

    }
  }

}

.list-table {
  display: table;
  margin: 5px;
  ul {
    display: table-row;
    > li {
      display:table-cell;
      padding:5px;
    }
  }
  .news-content {
    max-width: 250px;
  }
  ul.title {
    li {
      font-size: 1rem;
      color:#999;
      &.th-width {
        // width:90px;
      }
    }
  }
  ul.content {
    box-shadow: inset 0px 1px 1px #dddddd70;
    padding: 10px;
    margin: 5px;
  }
}


.table-scroll {
	height: 200px;
  overflow-y: scroll;
  .th-width {
      // width:80px;
  }
}



@media screen and  (min-width: 1601px) and (max-width:1900px)  {
  .news-title {
    max-width:180px!important;
  }
}

@media screen and  (min-width: 1400px) and (max-width:1600px)  {
  .news-title {
    max-width:158px!important;
  }
}

@media screen and  (max-width: 1399px) {
  .news-title {
    max-width:300px !important;
  }
}
