// 授信
$tag-green: #70ad47;
$tag-gold: #ffc000;
$tag-blue: #5b9bd5;
$tag-orange: #ed7d31;
$tag-red: #c00000;




.filter-search{
  width: auto;
  min-width: 620px;
}
.dashboard-top {
  .date-block {
    height: 40px;
    line-height: 40px;
  }

}


.data-card{
  overflow: visible  !important;
  .card-body{
    padding:3px;
    table {
      th {
        cursor: pointer;
        width:auto;
        min-width: 120px;
        text-align: right;
        padding: 0;
      }
    }
  }
}

.has-notification-icon {
  position: relative;
  .notifications {
    position: absolute;
    top: -3px;
    left: 140px;
  }
}

