<div class="main-content">
  <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card data-card">
              <div class="card-header card-header-primary filter-search">
                  <app-filter></app-filter>
              </div>
              <div class="card-body">
                  <div class="row data-info">
                      <div class="col-12">
                          <h3 class="title d-block w-100 mr-2 text-info border-left border-success pl-2">
                            經管名單列表
                            <span class="notifications">
                              <i class="material-icons">
                                notifications
                              </i>
                              <span class="notice bg-danger">
                                2
                              </span>
                            </span>
                          </h3>
                          <span class="d-block">
                              資料日：2019/08/06 ∣單位： 新臺幣仟元 ∣貢獻度資料期間： 2018/12 2019/07 ∣單位 ：新臺幣仟元
                          </span>
                      </div>

                  </div>
                  <div class="table-responsive">
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                  ID
                              </th>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Country
                              </th>
                              <th>
                                  City
                              </th>
                              <th>
                                  Salary
                              </th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      1
                                  </td>
                                  <td>
                                      Dakota Rice
                                  </td>
                                  <td>
                                      Niger
                                  </td>
                                  <td>
                                      Oud-Turnhout
                                  </td>
                                  <td class="text-primary">
                                      $36,738
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      2
                                  </td>
                                  <td>
                                      Minerva Hooper
                                  </td>
                                  <td>
                                      Curaçao
                                  </td>
                                  <td>
                                      Sinaai-Waas
                                  </td>
                                  <td class="text-primary">
                                      $23,789
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      3
                                  </td>
                                  <td>
                                      Sage Rodriguez
                                  </td>
                                  <td>
                                      Netherlands
                                  </td>
                                  <td>
                                      Baileux
                                  </td>
                                  <td class="text-primary">
                                      $56,142
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      4
                                  </td>
                                  <td>
                                      Philip Chaney
                                  </td>
                                  <td>
                                      Korea, South
                                  </td>
                                  <td>
                                      Overland Park
                                  </td>
                                  <td class="text-primary">
                                      $38,735
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      5
                                  </td>
                                  <td>
                                      Doris Greene
                                  </td>
                                  <td>
                                      Malawi
                                  </td>
                                  <td>
                                      Feldkirchen in Kärnten
                                  </td>
                                  <td class="text-primary">
                                      $63,542
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      6
                                  </td>
                                  <td>
                                      Mason Porter
                                  </td>
                                  <td>
                                      Chile
                                  </td>
                                  <td>
                                      Gloucester
                                  </td>
                                  <td class="text-primary">
                                      $78,615
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
     </div>
  </div>

</div>
