// 授信
$tag-green: #70ad47;
$tag-gold: #ffc000;
$tag-blue: #5b9bd5;
$tag-orange: #ed7d31;
$tag-red: #c00000;


$thbgcolor: rgba(219, 219, 219, 0.8);
$layerOne: $thbgcolor;
$layerTwo:  lighten($thbgcolor, 5%);
$layerThree:  lighten($thbgcolor, 10%);
$table-border-color: #FFF;
$table-max-height : 614px;

$liner-bg :linear-gradient(to 90deg, #37ecba 0%, #72afd3 100%);

$tablgTrHover : #dbf1d9;

.data-card {
  .card-body {
    height: 100%;
    min-height: 614px;
    .loading-height {
      height: 100%;
      min-height: 60vh;
      vertical-align: middle;
    }
  }
}

.filter-search{
  width: auto;
  min-width: 620px;
}
.dashboard-top {
  .date-block {
    height: 40px;
    line-height: 40px;
  }

}

.table-sticky {
  // hide mat arrow
  .mat-sort-header-arrow {
    color: #fff;
    display: none;
  }
  .mat-sort-header-container {

    .mat-sort-header-button {
      font-weight: 700 !important;
    }
  }
  &.mat-table {
    .mat-header-cell {
      background-color: #FFF;
    }
  }
}

.data-table {
  height: 60vh;
  overflow: auto;
  max-height: $table-max-height;
  min-height: 300px;
  .table {
    border-color: $table-border-color;
    thead {
      tr {
        font-weight: 700 !important;
        th {
          position: relative;
          cursor: pointer;
          width:auto;
          text-align: center;
          line-height: 1rem;
          white-space: nowrap;
          .order {
            position: absolute;
            right:0;
            top:40%;
          }
          &.min-130 {
            min-width: 130px;
          }
          &.min-60 {
            width: 60px;
          }
          .th-width-min {
            width:80px;
            min-width:80px;
            line-height: 1rem;
          }
        }

      }
    }
    tr{
      &:hover {
        transition: all 0.5 ease;
        // background-image: linear-gradient(-225deg, rgba(32, 226, 216, 0.473) 0%, rgba(250, 254, 165, 0.801) 100%);
        background-color: $tablgTrHover ;
        td {
          background-color: $tablgTrHover !important;
        }
      }
    }


    td {
      text-align: center;
      .text {
        padding-right: 24px !important;
      }
    }

    .bg-one {
      background: $layerOne;
    }
    .bg-two {
      background: $layerTwo;
    }
    .bg-three {
      background: $layerThree;
    }
    .text-ellipsis{
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto;
    }
    .text-ellipsis-name{
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto;
    }
    tfoot {
      th,td{
        padding: 12px 8px;
      }
    }
  }
}



