// 授信
$tag-green: #70ad47;
$tag-gold: #ffc000;
$tag-blue: #5b9bd5;
$tag-orange: #ed7d31;
$tag-red: #c00000;




.filter-search{
  width: auto;
  min-width: 620px;
}
.dashboard-top {
  .date-block {
    height: 40px;
    line-height: 40px;
  }

}


.data-card{
  overflow: visible  !important;
  .card-body{
    table {
      th {
        position: relative;
        cursor: pointer;
        width:auto;
        min-width: 70px;
        text-align: right;
        padding-right: 24px !important;
        .order {
          position: absolute;
          right:0;
          top:50%;
        }
        &.min-130 {
          min-width: 130px;
        }
        &.min-60 {
          width: 60px;
        }
        .th-width-min {
          max-width:80px;
          line-height: 1rem;
        }
      }
      th:not(.min-140) {
        width: 70px;
      }


      tfood {
        th {
          padding:5px;
        }
      }
    }
  }
}

.has-notification-icon {
  position: relative;
  .notifications {
    position: absolute;
    top: -3px;
    left: 140px;
  }
}

