<div class="main-content mt-3">
	<div class="container-fluid">
		<div class="d-inline-block float-right">

			<div class="d-inline-block">
				<app-filter [datalist]="dataList" (referBranchData)="onFilterReferBrandChanged($event)"
					(wmBranchData)="onFilterWMBrandChanged($event)" (filterData)="onFilterDataChanged($event)">
				</app-filter>
			</div>

			<div class="d-inline-block dashboard-top">
				<div class="date-block">
					<span class=" mr-1">
						資料日：{{ yesterdayDate }}
					</span>
					<span class="mx-1">
						∣
					</span>
					<span class="mr-1">
						貢獻度資料期間： {{ lastDecember }} ~ {{ lastMonth }}
					</span>
					<span class="mx-1">
						∣
					</span>
					<span class="mr-2">
						單位 ：新台幣仟元
					</span>
				</div>
			</div>
		</div>

		<div>
			<div class="card data-card shadow-lg">
				<app-water-print [hidden]="hideBlock"></app-water-print>
				<div class="card-body" *ngIf="hideBlock">
					<h4 class="card-title has-notification-icon d-block w-100 mr-2 text-primary pl-2 clearfix">
						經管名單列表
					</h4>
					<perfect-scrollbar class="data-table no-data ps-show-always">
						<table  class="table m-0 p-0 table-hover table-sticky">
						   <thead>
							  <th class="text-nowrap">經管 AO</th>
							  <th class="text-nowrap">集團名稱</th>
							  <th class="text-nowrap">客戶名稱</th>
							  <th class="text-nowrap">客戶 ID </th>
							  <th class="text-nowrap">MSR</th>
							  <th class="text-nowrap">RORWA</th>
							  <th class="text-nowrap">RAROC</th>
							  <th class="text-nowrap">去年度<br>累計貢獻度</th>
							  <th class="text-nowrap">今年度<br>累計貢獻度</th>
							  <th class="text-nowrap">存款餘額</th>
							  <th class="text-nowrap">放款餘額</th>
							  <th class="text-nowrap">貿融餘額</th>
						   </thead>
						   <tbody>
							 <tr>
							   <td colspan="12" class="no-data-border">
								  <app-loading *ngIf="loadingStatus"></app-loading>
								  <app-no-data [message]="nodata" *ngIf="!hasResult"></app-no-data>
							   </td>

							 </tr>
						   </tbody>
						</table>
					</perfect-scrollbar>
				</div>
				<div class="card-body" [hidden]="hideBlock">
					<div class="row data-info">
						<div class="col-12">
							<h3
								class="card-title has-notification-icon d-block w-100 mr-2 text-primary pl-2 pr-3 clearfix">
								<span class="title-name d-inline-block">
									經管名單列表
								</span>
								<div class="d-inline-block float-right">
									<app-notice-icon [modalId]="1"></app-notice-icon>
								</div>

							</h3>
						</div>
					</div>

					<!-- 列表 + paginator  -->
					<div class="m-0 p-0">
						<perfect-scrollbar class="data-table ps-show-always">

							<table class="table m-0 p-0 table-hover table-sticky" (matSortChange)="sortData($event)"
								mat-table [dataSource]="dataSource" matSort #sortTable="matSort">
								<ng-container matColumnDef="aoEmpName">
									<th class="text-nowrap min-130" mat-header-cell mat-sort-header *matHeaderCellDef
										[ngClass]="{
											'hidden-item': !supervisor ? true : false
										}">
										經管 AO
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'aoEmpName'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class="" mat-cell *matCellDef="let element" [ngClass]="{
											'hidden-item': !supervisor ? true : false
										}">
										<span class="text-ellipsis">
											{{element.aoEmpName}}
										</span>
									</td>
									<td mat-footer-cell *matFooterCellDef [ngClass]="{
											'hidden-item': !supervisor ? true : false
										}"> Total </td>
								</ng-container>
								<ng-container matColumnDef="parentCompanyName">
									<th class="text-nowrap " mat-sort-header mat-header-cell *matHeaderCellDef>
										集團名稱
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'parentCompanyName'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class="" mat-cell *matCellDef="let element">
										<span class="text-ellipsis">
											{{element.parentCompanyName}}
										</span>
									</td>
									<td class="colFooter" mat-footer-cell *matFooterCellDef>
										<span [hidden]="!supervisor">
											-
										</span>
										<span [hidden]="supervisor">
											Total
										</span>
									</td>
								</ng-container>
								<ng-container matColumnDef="customerName">
									<th class="text-nowrap  pr-2" mat-sort-header mat-header-cell *matHeaderCellDef>
										客戶名稱
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'customerName'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class="text-left" mat-cell *matCellDef="let element">
										<a href="#" routerLink="/content/customer" class="underline text-ellipsis-name mr-2">
											{{element.customerName}}
										</a>
										<div class="d-block">
											<span class="mt-1 tag tag-green" matTooltip="授信戶" matTooltipPosition="above"
												*ngIf="element.creditInd==='Y'">
												授
											</span>
											<span class="mt-1 tag tag-blue" matTooltip="企網銀" matTooltipPosition="above"
												*ngIf="element.geblnd==='Y'">
												網
											</span>
											<span class="mt-1 tag tag-gold" matTooltip="薪轉戶" matTooltipPosition="above"
												*ngIf="element.payrollComInd==='Y'">
												薪
											</span>
											<span class="mt-1 tag tag-orange" matTooltip="集團核心" matTooltipPosition="above" 
												*ngIf="element.coreCompany==='Y'">
												核
											</span>
											<span class="mt-1 tag tag-red" matTooltip="黑名單" matTooltipPosition="above"
												*ngIf="element.blackListInd==='Y'">
												黑
											</span>

										</div>
									</td>
									<td mat-footer-cell *matFooterCellDef> - </td>
								</ng-container>
								<ng-container matColumnDef="customerId">
									<th class="text-nowrap text-center" mat-header-cell *matHeaderCellDef>
										客戶ID
									</th>
									<td class="" mat-cell *matCellDef="let element"> {{element.customerId}} </td>
									<td mat-footer-cell *matFooterCellDef> - </td>
								</ng-container>
								<ng-container matColumnDef="approvalGrade">
									<th class="text-nowrap min-70 " mat-sort-header mat-header-cell *matHeaderCellDef>
										MSR
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'approvalGrade'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class=" bg-three" mat-cell *matCellDef="let element"> {{element.approvalGrade}} </td>
									<td mat-footer-cell *matFooterCellDef> - </td>
								</ng-container>
								<ng-container matColumnDef="rorwa">
									<th class="text-nowrap min-70 " mat-sort-header mat-header-cell *matHeaderCellDef>
										RORWA
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'rorwa'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class=" bg-three" mat-cell *matCellDef="let element">
										{{element.rorwa | percent: '1.0-2' }}
									</td>
									<td mat-footer-cell *matFooterCellDef> - </td>
								</ng-container>
								<ng-container matColumnDef="raroc">
									<th class="text-nowrap min-70 " mat-sort-header mat-header-cell *matHeaderCellDef>
										RAROC
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'raroc'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class="bg-three" mat-cell *matCellDef="let element">
										{{element.raroc | percent: '1.0-2' }}
									</td>
									<td mat-footer-cell *matFooterCellDef> - </td>
								</ng-container>
								<ng-container matColumnDef="lastYearAccumContri">
									<th class="text-nowrap min-100  " mat-sort-header mat-header-cell *matHeaderCellDef>
										去年度<br>累計貢獻度
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'lastYearAccumContri'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class=" bg-two" mat-cell *matCellDef="let element">
										{{element.lastYearAccumContri | currency:'':'':'1.0-0'}}
									</td>
									<td class="" mat-footer-cell *matFooterCellDef>
										{{ calculateTotal("lastYearAccumContri")  |  currency:'':'':'1.0-0'}}
									</td>
								</ng-container>
								<ng-container matColumnDef="thisYearAccumContri">
									<th class="text-nowrap min-100 " mat-sort-header mat-header-cell *matHeaderCellDef>
										今年度<br>累計貢獻度
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'thisYearAccumContri'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class=" bg-two" mat-cell *matCellDef="let element">
										{{element.thisYearAccumContri | currency:'':'':'1.0-0' }}
									</td>
									<td class="" mat-footer-cell *matFooterCellDef>
										{{ calculateTotal("thisYearAccumContri")  |  currency:'':'':'1.0-0'}}
									</td>
								</ng-container>
								<ng-container matColumnDef="totalDepositBal">
									<th class="text-nowrap min-100 " mat-sort-header mat-header-cell *matHeaderCellDef>
										存款餘額
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'totalDepositBal'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class=" bg-one" mat-cell *matCellDef="let element">
										{{element.totalDepositBal | currency:'':'':'1.0-0' }}
									</td>
									<td class="" mat-footer-cell *matFooterCellDef>
										{{ calculateTotal("totalDepositBal")  |  currency:'':'':'1.0-0'}}
									</td>
								</ng-container>
								<ng-container matColumnDef="totalLoanBal">
									<th class="text-nowrap min-100 " mat-sort-header mat-header-cell *matHeaderCellDef>
										放款餘額
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'totalLoanBal'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>
									</th>
									<td class=" bg-one" mat-cell *matCellDef="let element">
										{{element.totalLoanBal | currency:'':'':'1.0-0' }}
									</td>
									<td class="" mat-footer-cell *matFooterCellDef>
										{{ calculateTotal("totalLoanBal")  |  currency:'':'':'1.0-0'}}
									</td>
								</ng-container>
								<ng-container matColumnDef="totalTradeFinanceBal">
									<th class="text-nowrap min-100 " mat-sort-header mat-header-cell *matHeaderCellDef>
										貿融餘額
										<app-column-toggle
											[app-column-toggle]="{ isColumn: 'totalTradeFinanceBal'== nowOrder.id , asc: nowOrder.ASC }">
										</app-column-toggle>

									</th>
									<td class=" bg-one" mat-cell *matCellDef="let element">
										{{element.totalTradeFinanceBal | currency:'':'':'1.0-0'}}
									</td>
									<td class="" mat-footer-cell *matFooterCellDef>
										{{ calculateTotal("totalTradeFinanceBal")  |  currency:'':'':'1.0-0'}}
									</td>
								</ng-container>
-->
								<tr mat-header-row *matHeaderRowDef="tableThead; sticky: true"></tr>
								<tr mat-row *matRowDef="let row; columns: tableThead;"></tr>
								<tr mat-footer-row *matFooterRowDef="tableThead; sticky: true"></tr>
							</table>

						</perfect-scrollbar>

						<!-- 與user討論後，在 xx 筆以內，不顯示。待user提供筆數，可能為 30筆 -->
						<mat-paginator #paginator class="text-h3" [length]="60" [pageIndex]="0" [pageSize]="70"
							 (page)="pageChange($event)" showFirstLastButtons>
						</mat-paginator>

					</div>


				</div>

				<div>
					<!-- <app-pagination></app-pagination> -->
				</div>
			</div>

		</div>

	</div>

</div>
