<div class="main-content">
  <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card data-card">
              <div class="card-header card-header-primary filter-search">
                  <app-filter></app-filter>
              </div>
              <div class="card-body">
                  <div class="row data-info">
                      <div class="col-12">
                          <h3 class="title d-block w-100 mr-2 text-info border-left border-success pl-2">
                            經管名單列表
                            <span class="notifications">
                              <i class="material-icons">
                                notifications
                              </i>
                              <span class="notice bg-danger">
                                2
                              </span>
                            </span>
                          </h3>
                          <span class="d-block text-right">
                              資料日：2019/08/06 ∣單位： 新臺幣仟元 ∣貢獻度資料期間： 2018/12 2019/07 ∣單位 ：新臺幣仟元
                          </span>
                      </div>

                  </div>
                  <div class="table-responsive data-table">
                      <table class="table">
                          <thead *ngIf="false" class=" text-primary">
                              <th>
                                  集團名稱
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>
                              </th>
                              <th>
                                  客戶
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  ID
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  客戶名稱
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  MSR
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  RORWA
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  RAROC
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  去年度累計貢獻度
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>

                              <th>
                                  今年度累計貢獻度
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  存款餘額
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  放款餘額
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>
                              <th>
                                  貿融餘額
                                  <span class="order" (click)="orderByThis()">
                                      <i class="material-icons  not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>

                              </th>


                          </thead>
                          <thead class="text-primary">
                            <th *ngFor="let thHead of tableThList" (click)="orderByThis(thHead.id)">
                              {{thHead.name}}
                              <span class="order" (click)="orderByThis(thHead.id)" *ngIf="thHead.id == nowOrder.id; else noOrder">
                                  <i class="material-icons" [ngClass]="{'not-active': !nowOrder.ASC}">
                                      arrow_drop_up
                                  </i>
                                  <i class="material-icons not-active" [ngClass]="{'not-active': nowOrder.ASC}">
                                      arrow_drop_down
                                  </i>
                              </span>
                              <ng-template #noOrder>
                                  <span class="order" (click)="orderByThis(thHead.id)">
                                      <i class="material-icons not-active">
                                          arrow_drop_up
                                      </i>
                                      <i class="material-icons not-active">
                                          arrow_drop_down
                                      </i>
                                  </span>
                              </ng-template>
                            </th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of tableDetailList">
                              <td>
                                {{item.group_name}}
                              </td>
                              <td>
                                {{item.cus_id}}
                              </td>
                              <td>
                                {{item.cus_name}}
                              </td>
                              <td>
                                {{item.msr}}
                              </td>
                              <td>
                                {{item.rorwa}}
                              </td>
                              <td>
                                {{item.raroc}}
                              </td>
                              <td>
                                {{item.last_year_contribution}}
                              </td>
                              <td>
                                  {{item.this_year_contribution}}
                              </td>
                              <td>
                                  {{item.deposit}}
                              </td>
                              <td>
                                  {{item.load_balance}}
                              </td>
                              <td>
                                  {{item.trade_balance}}
                              </td>



                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
     </div>
  </div>

</div>
