@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$cathy-app-primary: mat-palette($mat-green);
$cathy-app-accent:  mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cathy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cathy-app-theme: mat-light-theme($cathy-app-primary, $cathy-app-accent, $cathy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cathy-app-theme);

// keyword search height
.autocomplete-form{


  .mat-form-field-wrapper{
    padding-bottom: 1.5rem !important;
  }
  .mat-input-element {
    color: #000;
  }

}

.auto-list{
  .mat-optgroup-label {
    background: #d2d2d2;
    color: #777;
    height: 24px;
    line-height: 24px;
  }
  span.autocomplete-heighlight{
    font-weight: 700;
    color: $dark-cathy-green;
  }
}
.mat-focused {
  .mat-form-field-label{
    color:#009F41 !important;
    font-weight: 500;
  }
}

// tooltip
.mat-tooltip {
  font-size: 1rem !important;
}


.mat-cell:first-child,
.mat-footer-cell:first-child,
.mat-header-cell:first-child {
    padding-left: 1px !important;
}



