

//underline

$pretty-text-width: 1px;
$pretty-text-hover: #f49005;

.pretty-text-underline {
  display: inline;
  text-shadow: $pretty-text-width $pretty-text-width #f5f6f9, -$pretty-text-width $pretty-text-width #f5f6f9, -$pretty-text-width -$pretty-text-width #f5f6f9, $pretty-text-width -$pretty-text-width #f5f6f9;
  background-image: linear-gradient(90deg, currentColor 100%, transparent 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% $pretty-text-width;
  &:hover {
    color: $pretty-text-hover;
    text-shadow: $pretty-text-width $pretty-text-width $pretty-text-hover, -$pretty-text-width $pretty-text-width #f5f6f9, -$pretty-text-width -$pretty-text-width #f5f6f9, $pretty-text-width -$pretty-text-width #f5f6f9;

  }
}
.pretty-text-underline::-moz-selection {
  background-color: rgba(0, 150, 255, 0.3);
  text-shadow: none;
}
.pretty-text-underline::selection {
  background-color: rgba(0, 150, 255, 0.3);
  text-shadow: none;
}


//date info

.date-block{
  text-align: right;
  font-size: 0.8rem;
  color:#CCC;
}
