
//underline

$pretty-text-width: 1px;
$pretty-text-hover: #f49005;
$pretty-text-selection: #fae8afd8;
$underline-color: #fafaf6;


a.underline {
  color: $brand-success;
  font-size: 1.2rem;
  @include pretty-text-underline-selection($pretty-text-selection);
  @include pretty-text-underline($pretty-text-width,$underline-color,$pretty-text-hover)
}

.card {
  // @include pretty-text-underline-selection($pretty-text-selection);
}


// 授信
$tag-green: #70ad47;
$tag-gold: #ffc000;
$tag-blue: #5b9bd5;
$tag-orange: #ed7d31;
$tag-red: #c00000;
.tag {
  background: #EEE;
  border-radius: 50%;
  text-align: center;
  height: 36px;
  width:36px;
  display: inline-block;
  line-height:36px;
  font-size: 0.9rem;
  color:#FFF;
  font-weight: bold;
  margin-right:2px;
  cursor: default;
  svg {
    max-height: 26px;
    color:white;
  }

  &.tag-green{
    background-color: $tag-green;
  }
  &.tag-gold {
    background-color: $tag-gold;
  }
  &.tag-blue{
    background-color: $tag-blue;
  }
  &.tag-orange{
    background-color: $tag-orange;
  }
  &.tag-red{
    background-color: $tag-red;
  }
}




//date info

.date-block{
  text-align: right;
  font-size: 0.8rem;
  color:#6c757d;
}

// notifications

.has-notification-icon {
  position: relative;
  .notifications {
    right: 10px;
    position: absolute;
    background: transparent;
    cursor: pointer;

    i.material-icons {
      font-size: 1.8rem;
      position: relative;
    }
    .notice {
      position: absolute;
      margin-top: -2px;
      margin-left: -15px;
      box-shadow: 0px 2px 1px #FFF;
      border-radius: 50%;
      color: #FFF;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
      padding: 0;
      font-size: 0.8rem;
    }

  }

}
