
//underline

$pretty-text-width: 1px;
$pretty-text-hover: #f49005;
$pretty-text-selection: #fae8afd8;
$underline-color: #fafaf6;


a.underline {
  color: $brand-success;
  @include pretty-text-underline-selection($pretty-text-selection);
  @include pretty-text-underline($pretty-text-width,$underline-color,$pretty-text-hover)
}

.card {
  @include pretty-text-underline-selection($pretty-text-selection);
}




//date info

.date-block{
  text-align: right;
  font-size: 0.8rem;
  color:#CCC;
}

// notifications

.has-notification-icon {
  position: relative;
  .notifications {
    right: 10px;
    position: absolute;
    background: transparent;
    cursor: pointer;

    i.material-icons {
      font-size: 1.8rem;
      position: relative;
    }
    .notice {
      position: absolute;
      margin-top: -2px;
      margin-left: -15px;
      box-shadow: 0px 2px 1px #FFF;
      border-radius: 50%;
      color: #FFF;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
      padding: 0;
      font-size: 0.8rem;
    }

  }

}
