$nav-bg: #FFF;
$active-bg: #FFF;
$border-color: #dbdbdb;
$border-radius: 3px;
$tab-hover-bg: white;
$tab-hover-color: black;

$tab-not-active-color: #CCC;
$tab-active-color:#000;

.nav-tabs {
    border: 0;
    border-radius: $border-radius $border-radius 0 0 ;
    padding: 0 15px;
    background: $nav-bg;
    border-bottom:2px solid $brand-primary;

    .nav-item {
      cursor: pointer;
        .nav-link {
            color: $tab-not-active-color;
            margin: 0;
            // border-radius: $border-radius;
            line-height: $mdb-btn-font-size-base * 1.2;
            text-transform: uppercase;
            font-size: $mdb-btn-font-size-base;
            padding: 5px 10px;
            background-color: $nav-bg;
            transition: 0.3s background-color 0s;
            border-color: #dbdbdb;
            border-width : 1px 1px 0 1px;
            position: relative;
            top: 3px;
            cursor: pointer;
            vertical-align: middle;
            // transition: all 0.5s ease;
            span {
              display: inline-block;
              vertical-align: middle;
            }
            &:hover {
                background: $tab-hover-bg;
                border-color: $brand-primary;
                border-width : 1px 1px 0 1px;
            }
            &::before {
              content:'';
              display: inline-block;
              width:1px;
              height: 100%;
              vertical-align: middle;

            }
        }
        .nav-link,
        .nav-link:hover,
        .nav-link:focus {
            color: black;
            font-weight: $font-weight-bold;
        }
        &.disabled .nav-link,
        &.disabled .nav-link:hover {
            color: rgba(255,255,255,0.5);
        }

        .material-icons{
            margin: -1px 5px 0 0;
        }

        .nav-link.active{

            color: $tab-active-color;
            // background-color: rgba(255,255,255, .2);
            // transition: 0.3s background-color 0.2s;
            background:$active-bg;
            border:1px solid $brand-primary;
            border-top: 3px solid $brand-primary;
            border-bottom: 3px solid #FFF;
            position: relative;
            top:2px;
            &:hover {
              border-bottom: 3px solid white;
            }

        }
    }
}


.nav-tabs {
  .nav-link {
    border-bottom: $bmd-nav-tabs-border-size solid transparent;
  }

  // colors
  @include bmd-tabs-color($bmd-nav-tabs-color, $bmd-nav-tabs-active-color, $bmd-nav-tabs-active-border-color, $bmd-nav-tabs-disabled-link-color, $bmd-nav-tabs-disabled-link-color-hover);

  &.header-primary {
    @include bmd-tabs-color($bmd-nav-tabs-primary-color, $bmd-nav-tabs-primary-active-color, $bmd-nav-tabs-primary-active-border-color, $bmd-nav-tabs-primary-disabled-link-color, $bmd-nav-tabs-primary-disabled-link-color-hover);
  }

  &.bg-inverse {
    @include bmd-tabs-color($bmd-nav-tabs-inverse-color, $bmd-nav-tabs-inverse-active-color, $bmd-nav-tabs-inverse-active-border-color, $bmd-nav-tabs-inverse-disabled-link-color, $bmd-nav-tabs-inverse-disabled-link-color-hover);
  }
}



.card-nav-tabs{
    margin-top: 45px;

    .card-header{
        margin-top: -30px !important;
    }
}

.tab-content .tab-pane .td-actions{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .tab-content .form-check{
  margin-top: 6px;
}
