$nav-bg: #EEE;
$active-bg: #FFF;
$border-color: #dbdbdb;
$border-radius: 0;

.nav-tabs {
    border: 0;
    border-radius: $border-radius;
    padding: 0 15px;
    background: $nav-bg;
    border-bottom:2px solid $brand-primary;

    .nav-item {
      cursor: pointer;
        .nav-link {
            color: $brand-primary;
            border: 0;
            margin: 0;
            border-radius: $border-radius;
            line-height: $mdb-btn-font-size-base * 2;
            text-transform: uppercase;
            font-size: $mdb-btn-font-size-base;
            padding: 10px 15px;
            background-color: $nav-bg;
            transition: 0.3s background-color 0s;
            cursor: pointer;
            &:hover {
                border: 0;
            }
        }
        .nav-link,
        .nav-link:hover,
        .nav-link:focus {
            color: $gray;
            font-weight: $font-weight-bold;
        }
        &.disabled .nav-link,
        &.disabled .nav-link:hover {
            color: rgba(255,255,255,0.5);
        }

        .material-icons{
            margin: -1px 5px 0 0;
        }

        .nav-link.active{
            // background-color: rgba(255,255,255, .2);
            transition: 0.3s background-color 0.2s;
            background:$active-bg;
            border:1px solid $brand-primary;
            border-top: 3px solid $brand-primary;
            border-bottom: 3px solid #FFF;

        }
    }
}


.nav-tabs {
  .nav-link {
    border-bottom: $bmd-nav-tabs-border-size solid transparent;
  }

  // colors
  @include bmd-tabs-color($bmd-nav-tabs-color, $bmd-nav-tabs-active-color, $bmd-nav-tabs-active-border-color, $bmd-nav-tabs-disabled-link-color, $bmd-nav-tabs-disabled-link-color-hover);

  &.header-primary {
    @include bmd-tabs-color($bmd-nav-tabs-primary-color, $bmd-nav-tabs-primary-active-color, $bmd-nav-tabs-primary-active-border-color, $bmd-nav-tabs-primary-disabled-link-color, $bmd-nav-tabs-primary-disabled-link-color-hover);
  }

  &.bg-inverse {
    @include bmd-tabs-color($bmd-nav-tabs-inverse-color, $bmd-nav-tabs-inverse-active-color, $bmd-nav-tabs-inverse-active-border-color, $bmd-nav-tabs-inverse-disabled-link-color, $bmd-nav-tabs-inverse-disabled-link-color-hover);
  }
}



.card-nav-tabs{
    margin-top: 45px;

    .card-header{
        margin-top: -30px !important;
    }
}

.tab-content .tab-pane .td-actions{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .tab-content .form-check{
  margin-top: 6px;
}
