@import "variables/colors";
@import "variables/shadow";

@import "variables/bootstrap-material-design-base";


// Customized BS variables
@import "variables/custom-forms";
@import "variables/spacing";

@import "variables/body";
@import "variables/brand";
@import "variables/buttons";
@import "variables/card";
@import "variables/code";
@import "variables/dropdown";
@import "variables/forms";
@import "variables/list-group";
@import "variables/nav";
@import "variables/pagination";
@import "variables/state";
@import "variables/tables";
@import "variables/tooltip";
@import "variables/type";
@import "variables/modals";

@import "variables/grid";



// import their vars after customization for use below
$enable-flex: true; // fully adopt flexbox layouts
$enable-shadows: true; // enable shadows, set to false to turn off shadows


// RWD
$grid-breakpoints: (
  xs: 0,
  sm: 400px, //380
  md: 760px, //750
  lg: 1400px,
  xl: 1800px
) ;


$container-max-widths: (
  sm: 380px,
  md: 750px,
  lg: 100%,
  xl: 100%
) ;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

@import "variables/layout";
@import "variables/menu";
@import "variables/drawer";
@import "variables/snackbar";

@import "variables/bootstrap-material-design";

@import "variables/bs-color-base";
