<div class="banks-info-block">


  <!-- 集團資訊 -->
  <div class="card card-table">
      <div class="card-header card-header-primary">
          <h5 class="card-title ">銀行同業
            <span class="badge float-right">
                {{ '2019-08-01' | dateFormat }} VS. {{ '2019-10-10' | dateFormat }}
            </span>
          </h5>
      </div>
      <div class="card-body">

          <div class="table-mat-list">
              <table class="table m-0 p-0 table-hover table-border table-sticky table-banks">
                  <thead>
                    <tr class="bg-th1">
                      <th>銀行同業</th>
                      <th  colspan="3">本期 (2019/07)</th>
                      <th  colspan="3">上期 (2018/12)</th>
                      <th  colspan="2">增減異動</th>
                    </tr>
                    <tr class="bg-th2">
                        <th>行庫</th>
                        <th>額度</th>
                        <th>餘額</th>
                        <th>擔保品</th>
                        <th>額度</th>
                        <th>餘額</th>
                        <th>擔保品</th>
                        <th>額度</th>
                        <th>餘額</th>
                    </tr>

                  </thead>
                  <tbody>
                   <tr>
                     <td>國泰世華</td>
                     <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                     <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                     <td>XXX</td>
                     <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                     <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                     <td>XXX</td>
                     <td class="text-primary big-word"> + </td>
                     <td class="text-primary big-word"> + </td>
                   </tr>
                   <tr>
                      <td>台北富邦</td>
                      <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                      <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                      <td>XXX</td>
                      <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                      <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                      <td>XXX</td>
                      <td class="text-primary big-word"> - </td>
                      <td class="text-primary big-word"> - </td>
                    </tr>
                    <tr>
                        <td>台北富邦</td>
                        <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                        <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                        <td>XXX</td>
                        <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                        <td>{{ 1000 | currency:'':'':'1.0-0' }}</td>
                        <td>XXX</td>
                        <td class="text-primary big-word"> - </td>
                        <td class="text-primary big-word"> + </td>
                      </tr>
                  </tbody>
                </table>
          </div>
      </div>


  </div>
</div>
