
<div class="contribution-block">
  <div class="card card-table">
    <div class="card-header card-header-primary">
        <h5 class="card-title ">
            貢獻度
            <span class="badge float-right">
                資料期間 : {{content.content_data.contributionPeriod}}
            </span>
        </h5>
    </div>
    <div class="card-body">
      <div class="table-mat-list">
          <table class="table m-0 p-0 table-hover table-sticky"
          mat-table [dataSource]="controList">
            <ng-container matColumnDef="id">
              <th class="text-black text-nowrap width-100 text-center" mat-header-cell *matHeaderCellDef> </th>
              <td class="text-center" mat-cell *matCellDef="let element">
                <div>{{ element.text}}</div>
                <div>{{ element.period }}</div>
              </td>
              <th class="text-center" mat-footer-cell *matFooterCellDef> + /- 增減變化 </th>
            </ng-container>

            <ng-container matColumnDef="now">
              <th class="text-black text-nowrap width-100" mat-header-cell *matHeaderCellDef> {{title[0]}}</th>
              <td mat-cell *matCellDef="let element"> {{element.data[0] | currency:'':'':'1.0-0'}} </td>
              <td mat-footer-cell *matFooterCellDef> {{periodChange[0]}}  </td>
            </ng-container>
            <ng-container matColumnDef="load">
                <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>{{title[1]}}</th>
                <td mat-cell *matCellDef="let element"> {{element.data[1] | currency:'':'':'1.0-0'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{periodChange[1]}}  </td>
            </ng-container>
            <ng-container matColumnDef="trade">
                <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>{{title[2]}}</th>
                <td mat-cell *matCellDef="let element"> {{element.data[2] | currency:'':'':'1.0-0'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{periodChange[2]}}  </td>
            </ng-container>
            <ng-container matColumnDef="cus">
                <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>{{title[3]}}</th>
                <td mat-cell *matCellDef="let element"> {{element.data[3] | currency:'':'':'1.0-0'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{periodChange[3]}}  </td>
            </ng-container>
            <ng-container matColumnDef="tmu">
                <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>{{title[4]}}</th>
                <td mat-cell *matCellDef="let element"> {{element.data[4] | currency:'':'':'1.0-0'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{periodChange[4]}} </td>
            </ng-container>
            <ng-container matColumnDef="other">
                <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>{{title[5]}}</th>
                <td mat-cell *matCellDef="let element"> {{element.data[5] | currency:'':'':'1.0-0'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{periodChange[5]}} </td>
            </ng-container>

            <ng-container matColumnDef="all">
                <th class="text-black text-nowrap" mat-header-cell *matHeaderCellDef>合計</th>
                <td mat-cell *matCellDef="let element"> {{element.data[6]| currency:'':'':'1.0-0'}} </td>
                <td mat-footer-cell *matFooterCellDef> {{totalChang}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="manageColumn; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: manageColumn;"></tr>
            <tr mat-footer-row *matFooterRowDef="manageColumn; sticky: true"></tr>

          </table>
      </div>


    </div>

  </div>

</div>
