customer-dashboard {

  .card {
    max-height: 500px;
    overflow: auto;
    &.top-card {
      height: 500px !important;
    }
    &.bottom-card {
      height: 360px !important;
    }
  }
}
.top-nav{
  .date-block {
    span {
      height: 40px;
      line-height: 40px;
    }
  }
}



.container-fluid{
  .card {
    .card-body {
      padding:8px 10px 8px 10px;
    }
  }

}
