

<div class="main-content mt-3">

     <div class="container-fluid">
        <div class="text-right date-block clearfix">

            <span class=" mr-3">
                資料日：2019/08/06
            </span>
            <span class="">
                單位 ：新臺幣仟元
            </span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        search id
                    </div>
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi et reiciendis quaerat, odit, repudiandae doloremque molestias nihil optio voluptatem perspiciatis vitae doloribus, consequatur fugit? Incidunt nulla ad fuga quibusdam iusto!
                    </div>
                </div>

            </div>

        </div>
     </div>


     <p class="m-3 p-5">
        施工中…
     </p>
</div>
