

<div class="main-content">
     <div class="container-fluid customer-dashboard" >

        <div class="d-block clearfix top-nav my-1">

          <div class="date-block float-right ml-3">
              <span class="mr-3">
                  資料日：2019/08/06
              </span>
              <span class="mx-1">
                  ︱
              </span>
              <span class="">
                  單位 ：新臺幣仟元
              </span>
          </div>

          <div class="float-right" >
              <form class="navbar-form form-inline m-0">
                  <div class="input-group no-border">
                      <input type="text" value="" class="form-control" placeholder="客戶 ID">
                      <button mat-raised-button type="submit" class="btn btn-sm btn-primay btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                      </button>
                  </div>
              </form>
          </div>

        </div>
        <div class="row top">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <app-base-info></app-base-info>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <app-news></app-news>
            </div>

        </div>
        <div class="row bottom">
            <div  class="col-lg-9 col-md-12 col-sm-12">
                <app-comp-charts></app-comp-charts>
            </div>
            <div  class="col-lg-3 col-md-12 col-sm-12">
                <app-comp-history></app-comp-history>
            </div>
        </div>
</div>


</div>
