

<div class="main-content">
     <div class="container-fluid customer-dashboard" >

        <div class="top-nav d-inline-block d-flex justify-content-end">
          <div class="d-inline-block mr-3 mt-2">
            <form class="navbar-form form-inline m-0">
                <div class="input-group no-border">
                    <input #searchIdBind type="text" value="" class="form-control" placeholder="客戶 ID">
                    <button mat-raised-button type="submit" class="btn btn-sm btn-secondary btn-round btn-just-icon" (click)="getSearchId()">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
          </div>

          <div class="d-inline-block date-block">
              <span class="mr-1">
                  資料日：2019/08/06
              </span>
              <span class="mx-1">
                  ︱
              </span>
              <span class="mr-2">
                  單位 ：新臺幣仟元
              </span>
          </div>



        </div>
        <div class="row top">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <app-base-info [searchStr]="searchStr"></app-base-info>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <app-news></app-news>
            </div>

        </div>
        <div class="row bottom">
            <div  class="col-lg-9 col-md-12 col-sm-12">
                <app-comp-charts></app-comp-charts>
            </div>
            <div  class="col-lg-3 col-md-12 col-sm-12">
                <app-comp-history></app-comp-history>
            </div>
        </div>
</div>


</div>
