
.news-info-block {
  height: auto;
  max-height: 550px;
  overflow: auto;
  .news-info-list {
    height: 450px;
    padding:10px;
    overflow-y: auto;
    .news-info-li {
      margin-right:15px;
      .paper-info {
        color: #21252996;
      }
      .news-title {
        width: auto;
        max-width: 160px;
      }
    }
    .btn {
      width: 95% !important;
    }
  }
  .news-content {
    .news-content-ana {
      .news-resource {
        color: #888;
        font-family: '微軟正黑體';
      }
      .ana-word {
        font-size: 1.2rem;
        font-weight: 400;
      }
      .grade {
        font-size: 1.8rem;
        line-height: 1.2rem;
      }

    }
    .news-content-title {
      font-size: 1.2rem;
      line-height: 2rem;
      vertical-align: middle;
      &::before {
        content:'';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .far {
        font-size: 2rem;
        vertical-align: middle;
        display: inline-block;
      }
      .title {
        line-height: 2rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .news-content-word {
      color:#000;
      p {
        color: #000;
        font-size: 1.1rem;
        text-indent: 28px !important;
        line-height: 1.8rem;
      }
    }
  }
}

@media screen and (min-width:150px) and (max-width:900px) {
  .news-title {
    width: auto;
    max-width: 120px !important;
  }
}


@media screen and (min-width:901px) and (max-width:1400px) {
  .news-title {
    width: auto;
    max-width: 180px!important;
  }
}

@media screen and (min-width:1401px) and (max-width:1900px) {
  .news-title {
    width: auto;
    max-width: 220px!important;
  }
}
